<template>
    <div>
        <header class="intro-header" :style="imgSrc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                            <h2 class="subheading">{{ post.subtitle }}</h2>
                            <span class="meta">Published by <a :href="authorUrl">{{ post.author }}</a> on {{ post.publish_date | publishDate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <div v-html="post.content" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    </div>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
    import {global} from '../../main.js';
    import {mapGetters} from 'vuex';
    import hljs from 'highlight.js';

    export default {
        name: 'post-page',
        data() {
            return {
                post: {},
            }
        },
        filters: {
            publishDate(val) {
                return global.cvISO8601ToFaithDate(val);
            },
        },
        computed: {
            ...mapGetters([
                'activePostIdx'
            ]),
            imgSrc() {
                let src = (this.post.img == undefined || this.post.img.src === '') ?
                    '../public/img/default-header.jpg' : this.post.img.src; // ../public/img/default-header.jpg | ./static/default_header.jpg
                return 'background-image: url(' + src + ')';
            },
            authorUrl() {
                return "author/" + this.post.author;
            }
        },
        methods: {
            getPostContent() {
                this.$http.get("api/v1/posts/" + this.activePostIdx).then(resp => {
                    this.post = resp.body;
                    this.centeredImages();
                    this.highlightCode();
                }, err => {
                    console.log(err)
                });
            },
            centeredImages() {
                $(document).ready(function() {
                    $('article .container p:has(img)').css('text-align', 'center');
                });
            },
            scrollToTopPost() {
                setTimeout(() => {
                    $('html, body').scrollTop(0);
                }, 50);
            },
            highlightCode() {
                setTimeout(() => {
                    $('div pre').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                }, 50);
            }
        },
        created() {
            this.getPostContent();
        },
        mounted() {
            this.scrollToTopPost();
        }
    }
</script>

<style scoped>
    hr.small {
        max-width: 100px;
        margin: 15px auto;
        border-width: 4px;
        border-color: white;
    }

    .intro-header {
        background-color: #777777;
        background: no-repeat center center;
        background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin-bottom: 50px;
    }

    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 100px 0 50px;
        color: white;
    }

    @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
            padding: 150px 0;
        }
    }

    .intro-header .site-heading,
    .intro-header .page-heading {
        text-align: center;
    }

    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        margin-top: 0;
        font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-size: 50px;
        font-weight: 500;
    }

    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
        font-size: 24px;
        line-height: 1.35;
        display: block;
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 10px 0 0;
    }

    @media only screen and (min-width: 768px) {
        .intro-header .site-heading h1,
        .intro-header .page-heading h1 {
            font-size: 80px;
        }
    }

    .intro-header .post-heading h1 {
        font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 700;
    }

    .intro-header .post-heading .subheading,
    .intro-header .post-heading .meta {
        line-height: 1.1;
        display: block;
    }

    .intro-header .post-heading .subheading {
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-size: 18px;
        margin: 15px 0 30px;
        font-weight: 400;
    }

    .intro-header .post-heading .meta {
        font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }

    .intro-header .post-heading .meta a {
        color: rgba(255, 255, 255, 0.8);
    }

    .intro-header .post-heading .meta a:hover,
    .intro-header .post-heading .meta a:focus {
        color: #02B875;
        text-decoration: none;
    }

    @media only screen and (min-width: 768px) {
        .intro-header .post-heading h1 {
            font-size: 55px;
        }

        .intro-header .post-heading .subheading {
            font-size: 26px;
        }
    }

    article,
    article ul li,
    article .container p {
        text-align: justify;
        line-height: 1.65em;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
        line-height: 1.2em;
    }

    article .container img {
        max-width: 100%;
    }

</style>
