<template>
    <div id="vue-posts" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div v-for="post in posts">
                    <div class="post-preview">
                        <a :href="post.post_id | postUrl">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <!--<h3 class="post-subtitle">${ post.subtitle }</h3>-->
                        <p class="post-summary-text">{{ post.summary_text }}</p>
                        <p class="post-meta"><a :href="post.author | authorUrl">{{ post.author }}</a> · {{ post.publish_date | publishDate }}</p>
                    </div>
                    <hr>
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import {global} from '../../main.js';
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        name: 'posts-list',
        data() {
            return {
                posts: [],
            }
        },
        filters: {
            publishDate(val) {
                return global.cvISO8601ToFaithDate(val);
            },
            postUrl(val) {
                return "/posts/" + val;
            },
            authorUrl(val) {
                return "author/" + val;
            },
        },
        computed: {
//            ...mapGetters([
//                'indexScrollPos'
//            ])
        },
        methods: {
//            ...mapMutations([
//                'setActivePostIdx',
//                'setIndexScrollPos',
//            ]),
            getAllPosts() {
                this.$http.get("api/v1/posts").then(resp => {
                    this.posts = resp.body;
//                    this.retainScrollPosition();
                }, err => {
                    console.log(err);
                });
            },
//            viewPost(id) {
//                this.setIndexScrollPos($(document).scrollTop());
//                this.setActivePostIdx(id);
//            },
//            retainScrollPosition() {
//                setTimeout(() => {
//                    $(document).scrollTop(this.indexScrollPos);
//                        $(document).animate({scrollTop:this.indexScrollPos}, 350);
//                }, 50);
//            }
        },
        created() {
            this.getAllPosts();
        },
        mounted() {
        }
    }
</script>

<style scoped>
    .post-preview > a {
        color: rgba(0, 0, 0, .8);
    }

    .post-preview > a:hover,
    .post-preview > a:focus {
        text-decoration: none;
        color: #02B875;
    }

    .post-preview > a > .post-title {
        font-family: 'Roboto', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .post-title:hover {
        text-decoration: none;
        color: black;
    }

    .post-preview > .post-subtitle {
        font-family: 'Roboto', 'Helvetica Neue', sans-serif;
        font-size: 22px;
        line-height: 1.58;
        font-weight: 400;
        color: rgba(0, 0, 0, .7);
        margin: 0 0 10px 0;
    }

    .post-preview > .post-summary-text {
        margin: 0 0 10px 0;
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.58;
        color: rgba(0, 0, 0, .6);
    }


    .post-preview > .post-meta {
        color: rgba(0, 0, 0, .44);
        font-size: 13px;
        /*font-style: italic;*/
        margin-top: 0;
        font-family: 'Segoe UI', 'Helvetica Neue', 'sans-serif';
    }

    .post-preview > .post-meta > a {
        text-decoration: none;
        /*color: rgba(0,0,0,.44);*/
        color: #02B875;
    }

    .post-preview > .post-meta > a:hover,
    .post-preview > .post-meta > a:focus {
        color: #02B875;
        text-decoration: underline;
    }

    @media only screen and (min-width: 768px) {
        .post-preview > a > .post-title {
            font-size: 36px;
        }
    }

    .section-heading {
        font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
        font-size: 36px;
        margin-top: 60px;
        font-weight: 700;
    }

    .caption {
        text-align: center;
        font-size: 14px;
        padding: 10px;
        font-style: italic;
        margin: 0;
        display: block;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .btn {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        border-radius: 0;
        padding: 15px 25px;
    }

    .btn-lg {
        font-size: 16px;
        padding: 25px 35px;
    }

    .btn-default:hover,
    .btn-default:focus {
        background-color: #02B875;
        border: 1px solid #02B875;
        color: white;
    }

    .pager {
        margin: 20px 0 0;
    }

    .pager li > a,
    .pager li > span {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        padding: 15px 25px;
        background-color: white;
        border-radius: 0;
    }

    .pager li > a:hover,
    .pager li > a:focus {
        color: white;
        background-color: #02B875;
        border: 1px solid #02B875;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
        color: #777777;
        background-color: #333333;
        cursor: not-allowed;
    }
</style>
