<template>
    <div id="app">
        <main-message></main-message>
        <main-sidebar>
        </main-sidebar>

        <!--Pages-->
        <div class="pusher">
            <dimmer-loader :loaderId="'global-loader'"></dimmer-loader>

            <top-menu></top-menu>

            <p-new-post-sidebar v-show="curPageIdx===2">
            </p-new-post-sidebar>

            <div class="pusher" :class="{'abs-parent': absParent}">
                <p-dashboard v-if="curPageIdx===1"></p-dashboard>
                <p-new-post v-else-if="curPageIdx===2"></p-new-post>
                <p-posts v-else-if="curPageIdx===3"></p-posts>
                <p-media v-else-if="curPageIdx===4" :mediaDetailModalId="'media-page-detail-modal'" :options="mediaOptions"></p-media>
                <p-settings v-else-if="curPageIdx===5"></p-settings>
            </div>
        </div>
    </div>
</template>

<script>
    import MainMessage from './components/MainMessage.vue'
    import TopMenu from './components/TopMenu.vue'
    import MainSidebar from './components/MainSidebar.vue'
    import DimmerLoader from './components/models/DimmerLoader.vue'
    import Dashboard from './components/pages/Dashboard.vue'
    import NewPost from './components/pages/NewPost.vue'
    import NewPostSidebar from './components/NewPostSidebar.vue'
    import Posts from './components/pages/Posts.vue'
    import Media from './components/pages/Media.vue'
    import Settings from './components/pages/Settings.vue'

    import {eventBus} from "./main.js";
    import {mapGetters} from "vuex";

    export default {
        name: 'app',
        components: {
            'main-message': MainMessage,
            'top-menu': TopMenu,
            'main-sidebar': MainSidebar,
            'dimmer-loader': DimmerLoader,
            'p-dashboard': Dashboard,
            'p-new-post': NewPost,
            'p-new-post-sidebar': NewPostSidebar,
            'p-posts': Posts,
            'p-media': Media,
            'p-settings': Settings,
        },
        data() {
            return {
                mediaOptions: {
                    multipleSelect: true
                }
            }
        },
        computed: {
            ...mapGetters([
                'menuTitle',
                'curPageIdx',
            ]),
            absParent() {
                return this.curPageIdx === 2 || this.curPageIdx === 3;
            }
        },
        methods: {
            toggleMainSidebar() {
                $('#vue-sidebar').sidebar('setting', 'transition', 'overlay')
                    .sidebar('setting', 'dimPage', false).sidebar('toggle');
            },
            togglePostSidebar() {
                $('#vue-post-sidebar').sidebar('setting', 'transition', 'overlay')
                    .sidebar('setting', 'dimPage', false).sidebar('toggle');
            }
        },
        created() {
            eventBus.$on('toggleSidebar', (sidebar) => {
                $(sidebar).sidebar('setting', 'transition', 'overlay')
                    .sidebar('setting', 'dimPage', false).sidebar('toggle');
            });
        }
    }
</script>

<style scoped>
    .abs-parent {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-y: hidden;
    }
</style>
