/*!
 * Start Bootstrap - Clean Blog v3.3.7+1 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    color: #333333;
}

p {
    font-size: 19px;
    line-height: 1.55;
    margin: 30px 0;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-weight: 400;
    word-spacing: 0.004em;
    letter-spacing: -0.003em;
    color: rgba(0, 0, 0, .8);
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a {
    color: #333333;
}

a:hover,
a:focus {
    color: #02B875;
}

blockquote {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-size: 19px;
    line-height: 1.65em;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-brand {
    font-weight: 500;
}

.navbar-custom .navbar-header .navbar-toggle {
    color: #777777;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }

    .navbar-custom .navbar-brand {
        color: rgba(255, 255, 255, 0.88);
        padding: 20px;
    }

    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 1);
    }

    .navbar-custom .nav li a {
        color: rgba(255, 255, 255, 0.88);
        padding: 20px;
    }

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 1);
    }

    .navbar-custom .nav li ul.dropdown-menu a {
        color: #333333;
    }

    .navbar-custom .nav li ul.dropdown-menu a:hover,
    .navbar-custom .nav li ul.dropdown-menu a:focus {
        color: #02B875;
    }
}

@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        background-color: white;
        /*border-bottom: 1px solid #f2f2f2;*/
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;

        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    }

    .navbar-custom.is-fixed .navbar-brand {
        color: rgba(0, 0, 0, 0.7);
    }

    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: black;
    }

    .navbar-custom.is-fixed .nav li a {
        color: rgba(0, 0, 0, 0.7);
    }

    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus {
        color: black;
    }

    .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.intro-header {
    background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}

.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}

.intro-header .post-heading h1 {
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 18px;
    margin: 15px 0 30px;
    font-weight: 400;
}

.intro-header .post-heading .meta {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.intro-header .post-heading .meta a {
    color: rgba(255, 255, 255, 0.8);
}

.intro-header .post-heading .meta a:hover,
.intro-header .post-heading .meta a:focus {
    color: #02B875;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }

    .intro-header .post-heading .subheading {
        font-size: 26px;
    }
}

.post-preview > a {
    color: rgba(0, 0, 0, .8);
}

.post-preview > a:hover,
.post-preview > a:focus {
    text-decoration: none;
    color: #02B875;
}

.post-preview > a > .post-title {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-title:hover {
    text-decoration: none;
    color: black;
}

.post-preview > .post-subtitle {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    line-height: 1.58;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    margin: 0 0 10px 0;
}

.post-preview > .post-summary-text {
    margin: 0 0 10px 0;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.58;
    color: rgba(0, 0, 0, .6);
}


.post-preview > .post-meta {
    color: rgba(0, 0, 0, .44);
    font-size: 13px;
    /*font-style: italic;*/
    margin-top: 0;
    font-family: 'Segoe UI', 'Helvetica Neue', 'sans-serif';
}

.post-preview > .post-meta > a {
    text-decoration: none;
    /*color: rgba(0,0,0,.44);*/
    color: #02B875;
}

.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
    color: #02B875;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px;
    }
}

.section-heading {
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #02B875;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

.btn {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #02B875;
    border: 1px solid #02B875;
    color: white;
}

.pager {
    margin: 20px 0 0;
}

.pager li > a,
.pager li > span {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 0;
}

.pager li > a:hover,
.pager li > a:focus {
    color: white;
    background-color: #02B875;
    border: 1px solid #02B875;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777777;
    background-color: #333333;
    cursor: not-allowed;
}

/*::-moz-selection {*/
/*color: white;*/
/*text-shadow: none;*/
/*background: #02B875;*/
/*}*/
/*::selection {*/
/*color: white;*/
/*text-shadow: none;*/
/*background: #02B875;*/
/*}*/
img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #02B875;
}

/*==============*/
svg {
    height: 30px;
    width: 100px;
    margin-top: -7px;
}

svg path {
    fill: rgba(255, 255, 255, 0.95) !important;
    /*fill: url('#rainbow-gradient') !important;*/
}

/*svg path:hover,*/
/*svg path:focus {*/
/*fill: white !important;*/
/*}*/

.svg-dark path {
    fill: rgba(0, 0, 0, 0.7) !important;
}

.svg-dark path:hover,
.svg-dark path:focus {
    fill: black !important;
}

/*POST*/
article,
article ul li,
article .container p {
    text-align: justify;
    line-height: 1.65em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    line-height: 1.2em;
}

article .container img {
    max-width: 100%;
}
