.mu-appbar {
    height: 60px;
    /*background-color: white;*/
}

svg {
    height: 35px;
    width: 80px;
}
svg path {
    fill: rgba(0,0,0,0.9) !important;
    /*fill: rgba(255,255,255,1.0) !important;*/
}

body {
    /*height: calc(100% - 7em) !important;*/
    background: white;
}

.ui.fluid.input > input[readonly]
{
    color: rgba(0,0,0,.3);
}

.dont-show {
    display: none;
}

#userbutton {
    font-size: .88em;
}
#userbutton i {
    font-size: 1rem;
}

#maincontent {
    padding: 4.4em 0 0 0;
    margin: 0;
}
#maincontent .ribbon {
    margin-bottom: 1.3em;
    cursor: default;
}

.ui.menu .item > i.icon.nomargin {
    margin: 0 0.5em;
}

.ui.stackable.grid.container {
    padding-top: 2em;
}

/************************/
.ui.attached.menu {
    height: 60px;
    border-radius: 0;
    /*-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    /*-moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
}

#postEditor {
    /*z-index: 102;*/
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#pageTitle {
    margin-top: -4px;
    font-size: 24px;
    font-weight: 500;
    max-width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5em;
}

.ui.menu > .grid {
    margin: 1em 0;
    padding-bottom: 1.5em;
}

.ui.button {
    font-weight: 500;
}

.ui.tiny.header {
    margin: 1.5em 0 0.6em 0;
}

.ui.grid > .centered.row {
    padding: 0;
}

.ui.grid .row + .ui.divider.first-divider {
    margin-bottom: 0;
}

#post-img-up,
#post-img-show{
    cursor: pointer;
    width: 91%;
    height: 160px;
    border-radius: 5px;
    background-color: #F6F7F8;
}

#post-img-up {
    border: 2px dashed #cbcbcb;
}

#post-img-up:hover,
#post-img-up:active,
#post-img-up:focus {
    border: 2px dashed #02B875;
    background-color: #FAFBFC;
}

#post-img-up .container {
    position: absolute;
    top: 35%;
    width: 100%;
}

#post-img-up .container i,
#post-img-up .container > span {
    color: rgba(0,0,0,0.3);
}

#post-img-up a i {
    position: absolute;
    bottom: 10px;
    right: 7px;
    color: rgba(0,0,0, 0.3);
    z-index: 6;
}

#post-img-up a i:hover,
#post-img-up a i:active,
#post-img-up a i:focus {
    color: #02B875;
}

#post-img-show img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    cursor: default;

    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

#post-img-show a {
    position: absolute;
    bottom: 12px;
    right: 21px;
}

/************ VUEJS TRANSITION *************/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


.ui.dropdown > .text > .icon {
    color: rgba(0,0,0,0.5);
}

/*.ui.dropdown:active,*/
/*.ui.dropdown > .text > .icon:focus {*/
    /*color: rgba(0,0,0,0.87);*/
/*}*/


.ui.modal {
    text-align: center;
}
