/*!
 * Start Bootstrap - Clean Blog v4.0.0-alpha (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-clean-blog/blob/master/LICENSE)
 */
body {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    color: #333333;
}

p {
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-weight: 400;
    word-spacing: 0.004em;
    letter-spacing: -0.003em;
    color: rgba(0, 0, 0, .8);
}

p a {
    text-decoration: underline;
}

pre {
    padding: 0.5em;
    margin: 0 0 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    color: #abb2bf;
    line-height: 1.42857143em;
    border-radius: 4px;
    background-color: #282c34;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a {
    color: #333333;
}

a:hover,
a:focus {
    color: #02B875;
}

blockquote {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-size: 19px;
    line-height: 1.65em;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

::-moz-selection {
    color: white;
    background: #2A8CFB;
    text-shadow: none;
}

::selection {
    color: white;
    background: #2A8CFB;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #2A8CFB;
}

#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
}

.navbar {
    padding: 0;
}

#mainNav .navbar-brand {
    font-weight: 500;
    color: #777777;
}

#mainNav .navbar-toggler {
    color: #777777;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px;
}

#mainNav .navbar-nav > li.nav-item > a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

#mainNav .navbar-nav > li.nav-item > a > i {
    padding-top: 17px;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.88);
        padding: 24px 20px 11px 20px;
    }

    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
        color: rgba(255, 255, 255, 1);
    }

    #mainNav .navbar-nav > li.nav-item > a {
        color: rgba(255, 255, 255, 0.88);
        padding: 15px 20px;
    }

    #mainNav .navbar-nav > li.nav-item > a:hover, #mainNav .navbar-nav > li.nav-item > a:focus {
        color: rgba(255, 255, 255, 1);
    }
}

@media only screen and (min-width: 1170px) {
    #mainNav {
        -webkit-transition: background-color .2s;
        -moz-transition: background-color .2s;
        transition: background-color .2s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }

    #mainNav.is-fixed {
        position: fixed;
        top: -69px;
        -webkit-transition: -webkit-transform .2s;
        -moz-transition: -moz-transform .2s;
        transition: transform .2s;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    }

    #mainNav.is-fixed .navbar-brand {
        color: rgba(0, 0, 0, 0.7);
    }

    #mainNav.is-fixed .navbar-brand:hover, #mainNav.is-fixed .navbar-brand:focus {
        color: black;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: rgba(0, 0, 0, 0.7);
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover, #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus {
        color: #02B875;
    }

    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

header.masthead {
    margin-bottom: 35px;
    background: no-repeat center center;
    background-color: #777777;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .site-heading,
header.masthead .post-heading,
header.masthead .page-heading {
    padding: 100px 0 50px;
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .site-heading,
    header.masthead .post-heading,
    header.masthead .page-heading {
        padding: 150px 0;
    }
}

header.masthead .site-heading,
header.masthead .page-heading {
    text-align: center;
}

header.masthead .site-heading h1,
header.masthead .page-heading h1 {
    margin-top: 0;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

header.masthead .site-heading .subheading,
header.masthead .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    header.masthead .site-heading h1,
    header.masthead .page-heading h1 {
        font-size: 80px;
    }
}

header.masthead .post-heading h1 {
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

header.masthead .post-heading .subheading,
header.masthead .post-heading .meta {
    line-height: 1.1;
    display: block;
}

header.masthead .post-heading .subheading {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 18px;
    margin: 15px 0 30px;
    font-weight: 400;
}

header.masthead .post-heading .meta {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

header.masthead .post-heading .meta a {
    color: rgba(255, 255, 255, 0.8);
}

header.masthead .post-heading .meta a:hover,
header.masthead .post-heading .meta a:focus {
    color: #02B875;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading .subheading {
        font-size: 26px;
    }
}

.post-preview > a {
    color: rgba(0, 0, 0, .8);
}

.post-preview > a:hover, .post-preview > a:focus {
    text-decoration: none;
    color: #02B875;
}

.post-preview > a > .post-title {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview > a > .post-title:hover {
    text-decoration: none;
    color: #02B875;
}

.post-preview > a > .post-subtitle {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    line-height: 1.58;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    margin: 0 0 10px 0;
}

/*TODO*/
.post-preview > a > .post-summary-text {
    margin: 0 0 10px 0;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.58;
    color: rgba(0, 0, 0, .6);
}

.post-preview > .post-meta {
    color: rgba(0, 0, 0, .44);
    font-size: 13px;
    margin-top: 0;
    font-family: 'Segoe UI', 'Helvetica Neue', 'sans-serif';
}

.post-preview > .post-meta > a {
    text-decoration: none;
    color: #02B875;
}

.post-preview > .post-meta > a:hover, .post-preview > .post-meta > a:focus {
    color: #02B875;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px;
    }
}

/*.floating-label-form-group {*/
/*font-size: 14px;*/
/*position: relative;*/
/*margin-bottom: 0;*/
/*padding-bottom: .5em;*/
/*border-bottom: 1px solid #eeeeee;*/
/*}*/

/*.floating-label-form-group input,*/
/*.floating-label-form-group textarea {*/
/*font-size: 1.5em;*/
/*position: relative;*/
/*z-index: 1;*/
/*padding: 0;*/
/*resize: none;*/
/*border: none;*/
/*border-radius: 0;*/
/*background: none;*/
/*box-shadow: none !important;*/
/*font-family: 'Lora', 'Times New Roman', serif;*/
/*}*/

/*.floating-label-form-group input::-webkit-input-placeholder,*/
/*.floating-label-form-group textarea::-webkit-input-placeholder {*/
/*color: #777777;*/
/*font-family: 'Lora', 'Times New Roman', serif;*/
/*}*/

/*.floating-label-form-group label {*/
/*font-size: .85em;*/
/*line-height: 1.764705882em;*/
/*position: relative;*/
/*z-index: 0;*/
/*top: 2em;*/
/*display: block;*/
/*margin: 0;*/
/*-webkit-transition: top .3s ease, opacity .3s ease;*/
/*-moz-transition: top .3s ease, opacity .3s ease;*/
/*-ms-transition: top .3s ease, opacity .3s ease;*/
/*transition: top .3s ease, opacity .3s ease;*/
/*vertical-align: middle;*/
/*vertical-align: baseline;*/
/*opacity: 0;*/
/*}*/

/*.floating-label-form-group .help-block {*/
/*margin: 15px 0;*/
/*}*/

/*.floating-label-form-group-with-value label {*/
/*top: 0;*/
/*opacity: 1;*/
/*}*/

/*.floating-label-form-group-with-focus label {*/
/*color: #0085A1;*/
/*}*/

/*form .form-group:first-child .floating-label-form-group {*/
/*border-top: 1px solid #eeeeee;*/
/*}*/

.clearfix {
    padding: 10px 0;
}

footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.btn {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-primary {
    color: white;
    border-color: #0085A1;
    background-color: #0085A1;
}

.btn-primary:focus, .btn-primary.focus {
    color: white;
    border-color: #001c22;
    background-color: #005b6e;
}

.btn-primary:hover {
    color: white;
    border-color: #005264;
    background-color: #005b6e;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #005264;
    background-color: #005b6e;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: white;
    border-color: #001c22;
    background-color: #003d4a;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    background-image: none;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    border-color: #0085A1;
    background-color: #0085A1;
}

.btn-primary .badge {
    color: #0085A1;
    background-color: white;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default:hover, .btn-default:focus {
    /*color: white;*/
    /*border: 1px solid #0085A1;*/
    /*background-color: #0085A1;*/
    background-color: #02B875;
    border: 1px solid #02B875;
    color: white;
}

/*CUSTOMIZE*/
.navbar-toggleable-md .navbar-nav {
    padding-top: 2px;
}

@media (min-width: 992px) {
    .navbar-container {
        width: 1540px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .navbar-container {
        width: 1860px;
        max-width: 100%;
    }
}

/*==============*/
svg {
    height: 30px;
    width: 100px;
    margin-top: -7px;
}

svg path {
    fill: rgba(255, 255, 255, 0.95) !important;
    /*fill: url('#rainbow-gradient') !important;*/
}

/*svg path:hover,*/
/*svg path:focus {*/
/*fill: white !important;*/
/*}*/

.svg-dark path {
    fill: rgba(0, 0, 0, 0.7) !important;
}

.svg-dark path:hover,
.svg-dark path:focus {
    fill: black !important;
}

a.category {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 0 7px;
}
a.category.last {
    padding-right: 20px;
}
a.category.tag-highlight {
    font-weight: bold;
    color: #02B875;
}

.view-btn {
    color: #555555;
}

.highlight {
    color: #02B875;
}

.grid-view {
    padding-bottom: 30px;
}

/*Post grid card view*/
.text-muted > a {
    color: #02B875;
    text-decoration: none;
}
.text-muted > a:hover,
.text-muted > a:focus,
.text-muted > a:active {
    text-decoration: underline;
}

img.img-fluid {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card-title > a {
    line-height: 1.2em;
}

.card-title > a:hover,
.card-title > a:focus,
.card-title > a:active {
    text-decoration: none;
}

.card-sum-text {
    font-size: 16px;
    margin: 0;
}

.card-meta-text {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: -0.5em 0 1em 0;
}

.card-tags {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: white;
    background-color: #AAAAAA;
    border-radius: 20px;
}

.a-tag {
    text-decoration: none;
    color: rgba(0, 0, 0, .44);
}
.a-tag:hover,
.a-tag:focus,
.a-tag:active {
    text-decoration: none;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 20px 0 0 0;
}

.tags li {
    float: left;
}

.tag {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #02B875;
    color: white;
}

.tag:hover::after {
    border-left-color: #02B875;
}

.tags > a:last-child > li {
    margin-bottom: 0;
    padding-bottom: 0;
}

.tag > a {
    color: #bbbbbb;
}

.tag > a:hover,
.tag > a:hover,
.tag > a:hover {
    color: white;
    text-decoration: none;
}

/*Post card*/
.card {
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

/*Quote card*/
.card-blockquote > p {
    color: white;
    font-family: 'Petit Formal Script', cursive, Segoe UI, Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 2em;
    font-style: normal;
}

.card-blockquote > footer {
    padding: 0;
}

.quote-author > cite {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
}

.card-columns .card {
    margin-bottom: 0.75em;
}


/*Card image*/
img.card-img.img-fluid {
    width: 100%;
    height: 100%;
}


/*******Post page*******/
article blockquote {
    font-family: 'Petit Formal Script', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;

    line-height: 2em;
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

article blockquote em {
    font-style: normal;
}

/*article p,*/
article ul li,
article ol li {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
}

article ul li a,
article ol li a {
    text-decoration: underline;
}

article ul li a:hover,
article ol li a:active,
article ol li a:focus,
article a:focus,
article a:hover,
article a:active {
    color: #00d95a;
}

article pre {
    padding: 0.5em;
    margin: 0 0 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    color: #abb2bf;
    line-height: 1.42857143em;
    border-radius: 4px;
    background-color: #282c34;
}

article p a {
    text-decoration: underline;
}

article p a:hover,
article p a:active,
article p a:focus {
    color: #00d95a;
}

article p img {
    max-width: 125%;
}

/*HighlightJS*/
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}
