<template>
    <!-- Page Header -->
    <!--./static/home_bg.jpg-->
    <!--../public/img/home-bg.jpg-->
    <header class="intro-header" style="background-image: url('../public/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Personal Blog</h1>
                        <hr class="small">
                        <span class="subheading">I don't have much faith in humanity. But here I am.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: 'main-header',
        data() {
            return {

            }
        }
    }
</script>

<style scoped>
    hr.small {
        max-width: 100px;
        margin: 15px auto;
        border-width: 4px;
        border-color: white;
    }

    .intro-header {
        background-color: #777777;
        background: no-repeat center center;
        background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin-bottom: 50px;
    }

    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 100px 0 50px;
        color: white;
    }

    @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
            padding: 150px 0;
        }
    }

    .intro-header .site-heading,
    .intro-header .page-heading {
        text-align: center;
    }

    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        margin-top: 0;
        font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-size: 50px;
        font-weight: 500;
    }

    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
        font-size: 24px;
        line-height: 1.1;
        display: block;
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 10px 0 0;
    }

    @media only screen and (min-width: 768px) {
        .intro-header .site-heading h1,
        .intro-header .page-heading h1 {
            font-size: 80px;
        }
    }

    .intro-header .post-heading h1 {
        font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 700;
    }

    .intro-header .post-heading .subheading,
    .intro-header .post-heading .meta {
        line-height: 1.1;
        display: block;
    }

    .intro-header .post-heading .subheading {
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-size: 18px;
        margin: 15px 0 30px;
        font-weight: 400;
    }

    .intro-header .post-heading .meta {
        font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }

    .intro-header .post-heading .meta a {
        color: rgba(255, 255, 255, 0.8);
    }

    .intro-header .post-heading .meta a:hover,
    .intro-header .post-heading .meta a:focus {
        color: #02B875;
        text-decoration: none;
    }

    @media only screen and (min-width: 768px) {
        .intro-header .post-heading h1 {
            font-size: 55px;
        }

        .intro-header .post-heading .subheading {
            font-size: 26px;
        }
    }
</style>
