<template>
    <div>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; lnquy 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'main-footer',
        data() {
            return {

            }
        }
    }
</script>

<style scoped>
    footer {
        padding: 50px 0 65px;
    }

    footer .list-inline {
        margin: 0;
        padding: 0;
    }

    footer .copyright {
        font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }

    .floating-label-form-group {
        font-size: 14px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #eeeeee;
    }

    .floating-label-form-group input,
    .floating-label-form-group textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
    }

    .floating-label-form-group label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease, opacity 0.3s ease;
        -moz-transition: top 0.3s ease, opacity 0.3s ease;
        -ms-transition: top 0.3s ease, opacity 0.3s ease;
        transition: top 0.3s ease, opacity 0.3s ease;
    }

    .floating-label-form-group::not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid #eeeeee;
    }

    .floating-label-form-group-with-value label {
        top: 0;
        opacity: 1;
    }

    .floating-label-form-group-with-focus label {
        color: #02B875;
    }

    form .row:first-child .floating-label-form-group {
        border-top: 1px solid #eeeeee;
    }



    /*::-moz-selection {*/
    /*color: white;*/
    /*text-shadow: none;*/
    /*background: #02B875;*/
    /*}*/
    /*::selection {*/
    /*color: white;*/
    /*text-shadow: none;*/
    /*background: #02B875;*/
    /*}*/
    img::selection {
        color: white;
        background: transparent;
    }

    img::-moz-selection {
        color: white;
        background: transparent;
    }
</style>
