<template>
    <nav id="vue-nav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img id="logo" class="svg" src="../../assets/faith_logo.svg" height="30px"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a @click="setActivePostIdx(0)">HOME</a>
                    </li>
                    <li>
                        <a href="/posts">POSTS</a>
                    </li>
                    <li>
                        <a href="/about">ABOUT</a>
                    </li>
                    <li>
                        <a href="/contact">CONTACT</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-search" arial-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
        name: 'nav-bar',
        data() {
            return {}
        },
        methods: {
            ...mapMutations([
                'setActivePostIdx'
            ])
        },
        mounted() {
            // Navigation Scripts to Show Header on Scroll-Up
            jQuery(document).ready(function($) {
                let MQL = 1170;

                //primary navigation slide-in effect
                if ($(window).width() > MQL) {
                    let headerHeight = $('.navbar-custom').height();
                    $(window).on('scroll', {
                            previousTop: 0
                        },
                        function() {
                            var currentTop = $(window).scrollTop();
                            //check if user is scrolling up
                            if (currentTop < this.previousTop) {
                                //if scrolling up...
                                if (currentTop > 0 && $('.navbar-custom').hasClass('is-fixed')) {
                                    $('.navbar-custom').addClass('is-visible');
                                    $('.navbar-brand svg').addClass('svg-dark');
                                } else {
                                    $('.navbar-custom').removeClass('is-visible is-fixed');
                                    $('.navbar-brand svg').removeClass('svg-dark');
                                }
                            } else if (currentTop > this.previousTop) {
                                //if scrolling down...
                                $('.navbar-custom').removeClass('is-visible');
                                if (currentTop > headerHeight && !$('.navbar-custom').hasClass('is-fixed')) {
                                    $('.navbar-custom').addClass('is-fixed');
                                    $('.navbar-brand svg').addClass('svg-dark');
                                }
                            }
                            this.previousTop = currentTop;
                        });
                }
            });

            // Replace all SVG images with inline SVG
            $(function(){
                jQuery('img.svg').each(function(){
                    var $img = jQuery(this);
                    var imgID = $img.attr('id');
                    var imgClass = $img.attr('class');
                    var imgURL = $img.attr('src');

                    jQuery.get(imgURL, function(data) {
                        // Get the SVG tag, ignore the rest
                        var $svg = jQuery(data).find('svg');

                        // Add replaced image's ID to the new SVG
                        if(typeof imgID !== 'undefined') {
                            $svg = $svg.attr('id', imgID);
                        }
                        // Add replaced image's classes to the new SVG
                        if(typeof imgClass !== 'undefined') {
                            $svg = $svg.attr('class', imgClass+' replaced-svg');
                        }

                        // Remove any invalid XML tags as per http://validator.w3.org
                        $svg = $svg.removeAttr('xmlns:a');

                        // Check if the viewport is set, else we gonna set it if we can.
                        if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                            $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                        }

                        // Replace image with new SVG
                        $img.replaceWith($svg);
                    }, 'xml');

                });
            });
        }
    }
</script>

<style>
    svg {
        height: 30px;
        width: 100px;
        margin-top: -7px;
    }

    svg path {
        fill: rgba(255, 255, 255, 0.95) !important;
        /*fill: url('#rainbow-gradient') !important;*/
    }

    /*svg path:hover,*/
    /*svg path:focus {*/
    /*fill: white !important;*/
    /*}*/

    .svg-dark path {
        fill: rgba(0, 0, 0, 0.7) !important;
    }

    .svg-dark path:hover,
    .svg-dark path:focus {
        fill: black !important;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .navbar-custom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .navbar-custom .navbar-brand {
        font-weight: 500;
    }

    .navbar-custom .navbar-header .navbar-toggle {
        color: #777777;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
    }

    .navbar-custom .nav li a {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.6px;
    }

    @media only screen and (min-width: 768px) {
        .navbar-custom {
            background: transparent;
            border-bottom: 1px solid transparent;
        }

        .navbar-custom .navbar-brand {
            color: rgba(255, 255, 255, 0.88);
            padding: 20px;
        }

        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus {
            color: rgba(255, 255, 255, 1);
        }

        .navbar-custom .nav li a {
            color: rgba(255, 255, 255, 0.88);
            padding: 20px;
        }

        .navbar-custom .nav li a:hover,
        .navbar-custom .nav li a:focus {
            color: rgba(255, 255, 255, 1);
        }

        .navbar-custom .nav li ul.dropdown-menu a {
            color: #333333;
        }

        .navbar-custom .nav li ul.dropdown-menu a:hover,
        .navbar-custom .nav li ul.dropdown-menu a:focus {
            color: #02B875;
        }
    }

    @media only screen and (min-width: 1170px) {
        .navbar-custom {
            -webkit-transition: background-color 0.3s;
            -moz-transition: background-color 0.3s;
            transition: background-color 0.3s;
            /* Force Hardware Acceleration in WebKit */
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .navbar-custom.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -61px;
            background-color: white;
            /*border-bottom: 1px solid #f2f2f2;*/
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;

            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        }

        .navbar-custom.is-fixed .navbar-brand {
            color: rgba(0, 0, 0, 0.7);
        }

        .navbar-custom.is-fixed .navbar-brand:hover,
        .navbar-custom.is-fixed .navbar-brand:focus {
            color: black;
        }

        .navbar-custom.is-fixed .nav li a {
            color: rgba(0, 0, 0, 0.7);
        }

        .navbar-custom.is-fixed .nav li a:hover,
        .navbar-custom.is-fixed .nav li a:focus {
            color: black;
        }

        .navbar-custom.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    }
</style>
