<template>
    <div id="app">
        <nav-bar></nav-bar>
        <main-header></main-header>
        <posts-list></posts-list>
        <main-footer></main-footer>
    </div>
</template>

<script>
    import NavBar from './components/base/NavBar.vue'
    import MainHeader from './components/base/MainHeader.vue'
    import PostsList from './components/pages/PostsList.vue'
    import PostPage from './components/pages/PostPage.vue'
    import MainFooter from './components/base/MainFooter.vue'

    import {mapGetters} from 'vuex'

    export default {
        name: 'app',
        components: {
            'nav-bar': NavBar,
            'main-header': MainHeader,
            'posts-list': PostsList,
            'post-page': PostPage,
            'main-footer': MainFooter,
        },
        data() {
            return {
            }
        },
        computed: {
//            ...mapGetters([
//                'activePostIdx'
//            ])
        },
        methods: {

        },
        created() {

        }
    }
</script>

<style>
    body {
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-size: 20px;
        color: #333333;
    }

    p {
        font-size: 19px;
        line-height: 1.55;
        margin: 30px 0;
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-weight: 400;
        word-spacing: 0.004em;
        letter-spacing: -0.003em;
        color: rgba(0, 0, 0, .8);
    }

    p a {
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
    }

    a {
        color: #333333;
    }

    a:hover,
    a:focus {
        color: #02B875;
    }

    blockquote {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: rgba(0, 0, 0, 0.5);
        font-style: italic;
        font-size: 18px;
        line-height: 1.65em;
    }


    body {
        -webkit-tap-highlight-color: #02B875;
    }


    /*POST*/
    article,
    article ul li,
    article .container p {
        text-align: justify;
        line-height: 1.65em;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
        line-height: 1.2em;
    }

    article .container img {
        max-width: 100%;
    }

</style>
