<template>
    <div class="main-content">
        <!--<div class="ui grid" :style="{ height: pageHeight + 'px' }">-->
        <img src="../../assets/dashboard_mockup.png" width="100%">
        <br><br>
        <p style="font-size: 20px; text-align: center; color: #E5343A">This page is not implemented yet =))</p>
        <br>
        <!--</div>-->
    </div>
</template>

<script>
    export default {
        name: 'dashboard',
        data() {
            return {
                pageHeight: $(document).height() - 60,
            }
        }
    }
</script>

<style scoped>
    .main-content {
        padding-top: 60px;
    }

    .main-content .ui.grid {
        /*padding: 25px;*/
        margin: 0;

        overflow: auto;
    }

    .ui.grid > * {
        padding: 0;
    }
</style>
