<template>
    <div>
        <div class="main-content">
            <div class="ui grid">
                <div class="ui fixed row" style="margin: 17px 10px 0 10px;">
                    <div class="thirteen wide left floated column">
                        <div class="ui form">
                            <div> <!--Hidden file input-->
                                <input id="mediaFileUpload" type="file"
                                       accept="image/png, image/jpg, image/jpeg, image/gif"
                                       @change="prepareRawImageData(this)" style="display: none;"/>
                            </div>

                            <div class="four fields">
                                <div class="six wide field">
                                    <div class="ui right icon fluid input"
                                         :class="{ error: errors.first('mediaForm.search') }">
                                        <input v-model="media_form.search" data-vv-scope="mediaForm"
                                               v-validate="{ rules: { max: 255 } }" name="search"
                                               class="transition visible"
                                               placeholder="Search by media name..." type="text">
                                        <i class="text cursor icon"></i>
                                    </div>
                                    <span v-show="errors.has('mediaForm.search')"
                                          class="help is-danger">{{ errors.first('mediaForm.search') }}</span>
                                </div>
                                <div class="four wide field">
                                    <div class="ui right icon fluid input"
                                         :class="{ error: errors.first('mediaForm.date') }">
                                        <input v-model="media_form.date" data-vv-scope="mediaForm"
                                               v-validate="{ rules: { date_format: 'MM/DD/YYYY' } }" name="search"
                                               class="transition visible"
                                               placeholder="Upload date" type="text">
                                        <i class="calendar cursor icon"></i>
                                    </div>
                                    <span v-show="errors.has('mediaForm.date')"
                                          class="help is-danger">{{ errors.first('mediaForm.date') }}</span>
                                </div>
                                <div class="four wide field">
                                    <div class="ui fluid selection dropdown">
                                        <i class="dropdown icon"></i>
                                        <span class="default text">Media type</span>
                                        <div class="menu">
                                            <div class="item" data-value="file"><i class="file outline icon"></i>All
                                                files
                                            </div>
                                            <div class="item" data-value="image"><i class="picture icon"></i>Image</div>
                                            <div class="item" data-value="audio"><i class="sound icon"></i>Audio</div>
                                            <div class="item" data-value="video"><i class="video icon"></i>Video</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <button class="ui positive button" @click="searchMedia">
                                        <i class="icon search"></i>Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="two wide right floated column">
                        <div class="ui form">
                            <div class="ui three fields" style="float: right; padding-right: 0;">
                                <div class="ui field" :class="{'hidden-field': !options.multipleSelect}"
                                     data-inverted="" data-position="bottom right" data-tooltip="Select all">
                                    <button class="ui basic icon button" :class="{ green: selectAll }" @click="selectAllMedia">
                                        <i class="icon checkmark outline"></i>
                                    </button>
                                </div>
                                <div class="ui field"
                                     data-inverted="" data-position="bottom left" data-tooltip="Upload">
                                    <button class="ui basic icon button"
                                            onclick="document.getElementById('mediaFileUpload').click();">
                                        <i class="icon upload"></i>
                                    </button>
                                </div>
                                <div class="ui field"
                                     data-inverted="" data-position="bottom right" data-tooltip="Delete">
                                    <button class="ui basic icon button" @click="deleteMedia">
                                        <i class="icon trash outline"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui divider"
                     style="margin: -10px 20px 0 22px; border-top: 1px solid rgba(34, 36, 38, 0.05); border-bottom: none;"></div>
                <div class="row" style="padding: 20px 20px 50px 20px;">
                    <div class="ui stackable grid" style="width: 100%; margin-left: 0;">
                        <media-item v-for="media in media_list" :key="media.media_id" :media="media" :options="options"></media-item>
                    </div>
                </div>
            </div>
        </div>

        <media-detail-modal :modalId="mediaDetailModalId"></media-detail-modal>
    </div>
</template>

<script>
    import MediaItem from '../models/MediaItem.vue';
    import MediaDetailModal from '../models/MediaDetailModal.vue';

    import {eventBus} from '../../main.js';
    import {mapGetters} from 'vuex';

    export default {
        name: 'media',
        components: {
            'media-item': MediaItem,
            'media-detail-modal': MediaDetailModal
        },
        props: ['mediaDetailModalId', 'options'],
        computed: {
            ...mapGetters([
                'selectedMedia'
            ])
        },
        data() {
            return {
                media_form: {
                    search: '',
                    date: '',
                    media_type: ''
                },
                media_list: [],
                selectAll: false
            }
        },
        methods: {
            searchMedia() {
                // TODO: Search by conditions
                this.$http.get('api/v1/media').then(resp => {
                    this.media_list = resp.body;
                }, err => {
                    eventBus.messageShowed({
                        type: 4,
                        content: 'Cannot get media list. Please try to search again!'
                    });
                    console.log(err)
                });
            },
            prepareRawImageData() {
                let file = document.getElementById('mediaFileUpload').files[0];
                if (file.name.length < 1) {
                }
                else if (file.size > 100000000) { // Max 100MB image
                    eventBus.messageShowed({
                        type: 3,
                        content: "File too big (maximum 100MB). Please check and try again!"
                    });
                }
                else if (file.type != 'image/png' && file.type != 'image/jpg' && file.type != 'image/gif' && file.type != 'image/jpeg') {
                    eventBus.messageShowed({
                        type: 3,
                        content: "Only allow JPG/JPEG, PNG and GIF image. Please check and try again!"
                    });
                }
                else {
                    this.getBase64Image(file);
                }
            },
            getBase64Image(file) {
                let self = this;
                let fr = new FileReader();
                fr.readAsDataURL(file);
                fr.onload = function () {
                    self.uploadMedia(file, fr.result);
                };
            },
            uploadMedia(file, rawData) {
                let formData = {
                    filename: file.name,
                    type: "image",
                    size: file.size,
                    data: rawData
                };

                this.$http.post('api/v1/media', formData).then(resp => {
                    this.media_list.push(resp.body);
                    eventBus.messageShowed({
                        type: 1,
                        content: "Media uploaded"
                    });
                }, err => {
                    eventBus.messageShowed({
                        type: 4,
                        content: "Cannot upload media to server. Please check then try again!"
                    });
                    console.log(err);
                });
            },
            deleteMedia() {
                let ids = '';
                for (let i = 0; i < this.selectedMedia.length; i++) {
                    ids += this.selectedMedia[i].id + ",";
                }
                ids = ids.substring(0, ids.length - 1);
                this.$http.delete('api/v1/media/' + ids).then(resp => {
                    eventBus.messageShowed({
                        type: 1,
                        content: "Media deleted"
                    });
                    // TODO: Only get full list media if batch delete and success
                    this.searchMedia();
                }, err => {
                    eventBus.messageShowed({
                        type: 4,
                        content: "Cannot delete media. Please check then try again!"
                    });
                    console.log(err);
                });
            },
            selectAllMedia() {
                this.selectAll = !this.selectAll;
                eventBus.allMediaSelected(this.selectAll);
            }
        },
        created() {
            eventBus.allMediaCleared();
        },
        mounted() {
            $('.ui.dropdown').dropdown();
        },
        beforeDestroy() {
            eventBus.allMediaCleared();
            $('#' + this.mediaDetailModalId).remove();
        }
    }
</script>

<style scoped>
    .main-content {
        margin-top: 60px;
        width: 100%;
        height: 100%;
    }

    .main-content > .ui.grid {
        margin: -1rem 0;
    }

    .ui.form .two.fields > .fields,
    .ui.form .two.fields > .field {
        width: auto;
        padding-right: 0;
        margin-right: 0;
    }

    .hidden-field {
        visibility: hidden;
    }
</style>
