<template>
    <div>
        <quill-editor ref="quillPostEditor"
                      v-model="content"
                      :options="editorOption"
                      :style="{ height: quillHeight + 'px'}">
        </quill-editor>

        <post-delete-modal :modalId="'new-post-delete-modal'"></post-delete-modal>
        <media-modal :modalId="'new-post-media-modal'"></media-modal>
    </div>
</template>

<script>
    import PostDeleteModal from '../models/PostDeleteModal.vue'
    import MediaModal from '../models/MediaModal.vue'

    import {eventBus} from '../../main.js';
    import {quillEditor} from 'vue-quill-editor'
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        name: 'new-post',
        data () {
            return {
                quillEditor: '',
                quillHeight: $(document).height() - 100,
                content: '',
                editorOption: {
                    placeholder: 'Tell me your story...'
                }
            }
        },
        components: {
            "quill-editor": quillEditor,
            'post-delete-modal': PostDeleteModal,
            'media-modal': MediaModal
        },
        computed: {
            ...mapGetters([
                'menuTitle',
                'contentChanged'
            ])
        },
        methods: {
            ...mapMutations([
                'setEditorContent', // Sync local content to global Vuex store
                'setSummaryText',
                'setContentChanged'
            ]),
        },
        watch: {
            content(val) {
                this.setEditorContent(val);
                if (!this.contentChanged) {
                    this.setContentChanged(true);
                }
                this.setSummaryText(this.quillEditor.getText());
            },
            menuTitle(val) {
                if (!this.contentChanged) {
                    this.setContentChanged(true);
                }
            }
        },
        created() {
            eventBus.$on('updateNewPostContent', (content) => {
                this.content = content;
                // Set content changed state to false when updating existing post
                setTimeout(() => {
                    this.setContentChanged(false);
                }, 50);
            });
        },
        mounted() {
            eventBus.newPostSidebarInitialized();
            this.setEditorContent('');
            if (this.quillEditor == undefined || this.quillEditor === '') {
                this.quillEditor = this.$refs.quillPostEditor.quill;
            }
        },
        beforeDestroy() { // Completely remove mounted modals
            $('#new-post-delete-modal').remove();
            $('#new-post-media-modal').remove();
            this.setContentChanged(false);
        }
    }
</script>

<style>
    .quill-editor {
        margin-top: 58px;
        background-color: white;
        margin-bottom: 0;
        padding: 0;
    }
</style>
