<template>
    <div>
        <div class="main-content">
            <div v-if="postsLength===0" style="width: 100%; height: 100%; text-align: center; vertical-align: middle;">
                <p style="position: relative; top: 100px;">No post here<br>Start writing something...</p>
            </div>
            <div v-else class="ui celled grid" style="margin: 0;" :style="{ height: pageHeight + 'px' }">
                <div class="row">
                    <div id="posts-list" class="four wide column">
                        <div class="ui items">
                            <div v-for="(post, index) in posts">
                                <div class="item" :class="{active: previewPost.post_id===post.post_id}">
                                    <div class="content">
                                        <a class="header" :class="{'header-active': previewPost.post_id===post.post_id}"
                                           @click="getPreviewPostContent(post.post_id)">{{ post.title }}</a>
                                        <div class="extra">
                                            <img class="ui circular middle aligned image" src="../../assets/admin-avatar.jpg">
                                            <span><a @click="showAuthorInfo(post.author)"> {{ post.author }}</a> on {{ post.created_at | date }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="twelve wide column">
                        <loader :loaderId="'preview-content-loader'"></loader>
                        <div id="post-preview" v-html="previewPost.content">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <post-delete-modal :modalId="'posts-delete-modal'"></post-delete-modal>
        <post-meta-modal :postMeta="previewPost" :modalId="'posts-meta-modal'"></post-meta-modal>
    </div>
</template>

<script>
    import PostDeleteModal from '../models/PostDeleteModal.vue'
    import PostMetaModal from '../models/PostMetaModal.vue'
    import Loader from '../models/Loader.vue'

    import {eventBus} from '../../main.js';
    import {global} from '../../main.js';
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    export default {
        name: 'posts',
        components: {
            'post-delete-modal': PostDeleteModal,
            'post-meta-modal': PostMetaModal,
            'loader': Loader
        },
        data() {
            return {
                posts: [],
                previewPost: {},
                pageHeight: $(document).height() - 60,
                offset: 0,
            }
        },
        filters: {
            date(date) {
                date = new Date(date);
                return months[date.getMonth()] + ' ' + date.getDate() +
                    ' ' + date.getFullYear(); // + ' @ ' + pad(date.getHours()) + ":" + pad(date.getMinutes());
            }
        },
        computed: {
            ...mapGetters([
                'curPageIdx'
            ]),
            postsLength() {
                return this.posts.length;
            }
        },
        methods: {
            ...mapMutations([
                'setMenuTitle',
                'setActivePostId',
                'setActivePostTitle',
                'setIsLoading'
            ]),
            getPostsList() {
                this.$http.get('api/v1/posts').then(resp => {
                    this.posts = resp.body;
                    if (this.posts.length > 0) {
                        this.previewPost = this.posts[0];
                        this.getPreviewPostContent(this.previewPost.post_id);
                    }
                }, err => {
                    eventBus.messageShowed({
                        type: 4,
                        content: 'Cannot get post list. Please check and try again!'
                    });
                    console.log(err)
                });
            },
            getPreviewPostContent(pid) {
                eventBus.loaderShowed('preview-content-loader');
                for (let i = 0; i < this.posts.length; i++) {
                    if (this.posts[i].post_id === pid) {
                        this.previewPost = this.posts[i]; // Temporary set to trigger changing active post rather than wait until request completed
                        if (this.posts[i].content === "") {
                            this.$http.get('api/v1/posts/' + pid).then(resp => {
                                this.posts[i] = resp.body;
                                this.previewPost = this.posts[i];
                                document.getElementById('post-preview').scrollTop = 0; // TODO: Cannot reset scroll position problem
                                this.setActivePostId(this.previewPost.post_id);
                                this.setActivePostTitle(this.previewPost.title);
                            }, err => {
                                eventBus.messageShowed({
                                    type: 4,
                                    content: 'Cannot get post\'s content. Please check and try again!'
                                });
                                console.log(err)
                            }).then(() => {
                                eventBus.loaderHid('preview-content-loader');
                            });
                        } else {
                            this.previewPost = this.posts[i];
                            this.setActivePostId(this.previewPost.post_id);
                            this.setActivePostTitle(this.previewPost.title);
                            eventBus.loaderHid('preview-content-loader');
                        }
                        return;
                    }
                }
            },
            showAuthorInfo(author) {
                eventBus.messageShowed({
                    type: 2,
                    content: 'Author ' + author
                });
            },
            getMorePosts() {
                this.$http.get('api/v1/posts?offset=' + this.offset).then(resp => {
                    this.posts = this.posts.concat(resp.body);
                }, err => {
                    console.log(err)
                });
            },
        },
        watch: {
            'previewPost.title'(val) {
                this.setMenuTitle(val);
            },
            'previewPost.content'(val) {
                setTimeout(() => {
                    $("#post-preview").children('p').children('img').each(function () {
                        $(this).css({'max-width': '100%'});
                    })
                }, 50);
            }
        },
        created() {
            this.getPostsList();
            eventBus.$on('triggerPostsToNewPost', () => {
                let post = JSON.parse(JSON.stringify(this.previewPost)); // Duplicate data
                post.publish_date = global.cvISO8601ToFaithDateTime(post.publish_date);
                let content = post.content;
                eventBus.newPostContentUpdated(content);
                delete post.content;
                eventBus.postsToNewPostSynced(post);
            });
            eventBus.$on('deletePostSuccess', () => {
                if (this.curPageIdx !== 3) {
                    return;
                }

                for (let i = 0; i < this.posts.length; i++) {
                    if (this.posts[i].post_id === this.previewPost.post_id) {
                        this.posts.splice(i, 1);
                        break;
                    }
                }

                if (this.posts.length === 0) {
                    this.previewPost = {};
                } else {
                    this.getPreviewPostContent(this.posts[0].post_id);
                }
            });
        },
        mounted() {
            // Auto load more posts when scrolling to the end of list
            let self = this;
            setTimeout(() => {
                $('#posts-list').scroll(function() {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight - 10) { // Padding 10px
                        self.offset++;
                        self.getMorePosts();
                    }
                });
            }, 50);
        },
        beforeDestroy() { // Completely remove mounted modal
            $('#posts-delete-modal').remove();
            $('#posts-meta-modal').remove();
        }
    }

    function pad(n) {
        return ("0" + n).slice(-2);
    }
</script>

<style scoped>
    .main-content {
        margin-top: 60px;
    }

    .ui.grid > .row > .column {
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }
</style>

<style>
    /*Left post list column*/
    #post-list {
        /*background-color: rgba(0, 0, 0, 0.015);*/
    }

    .ui.divider {
        margin: 0;
    }

    .ui.items > * > .item {
        background-color: transparent;
    }

    .ui.items > * > .item:hover,
    .ui.items > * > .item:focus,
    .ui.items > * > .item:active {
        background-color: rgba(0, 0, 0, 0.02);
    }

    .ui.items > * > .item.active {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .ui.items > * > .item > .content {
        padding: 15px 15px 20px 15px;
    }

    .ui.items > * > .item > .content > .extra {
        padding-top: 8px;
        color: rgba(0, 0, 0, 0.6);
    }

    .ui.items > * > .item > .content > .extra > img {
        height: 20px;
        margin-top: 1px;
    }

    .ui.items > * > .item > .content > .extra > span a {
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    .ui.items > * > .item > .content > .extra > span a:hover,
    .ui.items > * > .item > .content > .extra > span a:focus,
    .ui.items > * > .item > .content > .extra > span a:active,
    .ui.items > * > .item > .content a.header:hover,
    .ui.items > * > .item > .content a.header:active,
    .ui.items > * > .item > .content a.header:focus,
    .ui.items > * > .item > .content a.header.header-active {
        color: #02B875;
    }

    .ui.items > * > .item > .content a.header {
        /*word-break: break-all;*/
        word-wrap: break-word;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3em;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
    }

    .ui.items > * > .item > .content > .extra {
        font-size: 13px;
    }

    /*Right post preview column*/
    #post-preview {
        padding: 10px 50px;
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-size: 18px;
        line-height: 30px;
        margin: 30px 0;
        font-weight: 400;
        word-spacing: 0.004em;
        letter-spacing: -0.003em;
        color: rgba(0, 0, 0, .8);
    }

    #post-preview img {
        max-width: 95%;
    }

    #post-preview p,
    #post-preview ul li,
    #post-preview ol li {
        font-size: 18px;
        line-height: 1.55;
        margin: 30px 0;
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-weight: 400;
        word-spacing: 0.004em;
        letter-spacing: -0.003em;
        color: rgba(0, 0, 0, .8);
    }

    #post-preview ul li,
    #post-preview ol li {
        line-height: 0.3em;
    }

    #post-preview p a {
        text-decoration: underline;
    }

    #post-preview p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #post-preview h1,
    #post-preview h2,
    #post-preview h3,
    #post-preview h4,
    #post-preview h5,
    #post-preview h6 {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    #post-preview h1 {
        font-size: 36px;
        margin-top: 20px;
    }

    #post-preview h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    #post-preview h3 {
        font-size: 24px;
        margin-top: 20px;
    }

    #post-preview h4 {
        font-size: 18px;
        margin-top: 10px;
    }

    #post-preview h5 {
        font-size: 14px;
        margin-top: 10px;
    }

    #post-preview h6 {
        font-size: 12px;
        margin-top: 10px;
    }

    #post-preview blockquote {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: rgba(0, 0, 0, 0.5);
        font-style: italic;
        font-size: 18px;

        line-height: 1.65em;
        padding: 10px 20px;
        margin: 0 0 20px;
        border-left: 5px solid #eee;
    }

    #post-preview pre {
        padding: 0.5em;
        margin: 0 0 10px;
        font-size: 13px;
        border: 1px solid #ccc;
        color: #abb2bf;
        line-height: 1.42857143em;
        border-radius: 4px;
        background-color: #282c34;
    }
</style>
