<template>
    <div class="main-content">
        <div class="ui fluid grid">
            <div id="settings-menu" class="three wide column">
                <div class="ui secondary vertical pointing menu" style="position: fixed;">
                    <a class="item" :class="{active: curSegment===1}" @click="curSegment = 1"><i class="user icon"/>Profile</a>
                    <a class="item" :class="{active: curSegment===2}" @click="curSegment = 2"><i class="area chart icon"/>Statistics</a>
                    <a class="item" :class="{active: curSegment===3}" @click="curSegment = 3"><i class="mail icon"/>Messages</a>
                    <a class="item" :class="{active: curSegment===4}" @click="curSegment = 4"><i class="settings icon"/>Settings</a>
                </div>
            </div>
            <div class="twelve wide centered column">
                <profile-segment v-show="curSegment===1"></profile-segment>
                <statistics-segment v-show="curSegment===2"></statistics-segment>
                <messages-segment v-show="curSegment===3"></messages-segment>
                <settings-segment v-show="curSegment===4"></settings-segment>
            </div>
        </div>
    </div>
</template>

<script>
    import ProfileSegment from '../models/ProfileSegment.vue';
    import StatisticsSegment from '../models/StatisticsSegment.vue';
    import MessagesSegment from '../models/MessagesSegment.vue';
    import SettingsSegment from '../models/SettingsSegment.vue';

    export default {
        name: 'settings',
        components: {
            "profile-segment": ProfileSegment,
            "statistics-segment": StatisticsSegment,
            "messages-segment": MessagesSegment,
            "settings-segment": SettingsSegment
        },
        data() {
            return {
                curSegment: 1,
            }
        },
        mounted() {
            $('#settings-menu a.item').on('click', function() {
                $(this).addClass('active').siblings().removeClass('active');
            });
        }
    }
</script>

<style scoped>
    .main-content {
        padding-top: 60px;
    }

    .main-content > .ui.grid {
        width: 100%;
        margin: auto;
        padding: 10px 50px;
        overflow-y: auto;
    }
</style>
