<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Faith - Personal Go blog">
    <meta name="author" content="lnquy">

    <link rel="apple-touch-icon" sizes="57x57" href="../public/img/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/img/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/img/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/img/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/img/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/img/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/img/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/img/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/img/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../public/img/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/img/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/img/fav/favicon-16x16.png">

    <title>{{ .Title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/stylesheet/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../public/stylesheet/faith.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/stylesheet/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>