{{template "head.html" .}}

<body>
    {{template "navbar.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../public/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Personal Blog</h1>
                        <hr class="small">
                        <span class="subheading">I don't have much faith in humanity. But here I am.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div id="vue-posts" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div v-for="post in posts">
                    <div class="post-preview">
                        <a :href="post.post_id | postUrl">
                            <h2 class="post-title">${ post.title }</h2>
                        </a>
                        <!--<h3 class="post-subtitle">${ post.subtitle }</h3>-->
                        <p class="post-summary-text">${ post.summary_text }</p>
                        <p class="post-meta"><a href="#">${ post.author }</a> · ${ post.publish_date | publishDate }</p>
                    </div>
                    <hr>
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{template "footer.html" .}}

    <!-- jQuery -->
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/vuejs-2.6.6.min.js"></script>
    <script src="../public/js/vue-resource-1.3.1.min.js"></script>
    <script src="../public/js/moment-2-18-1.min.js"></script>
    <script>
        Vue.use(VueResource);

        let vuePosts = new Vue({
            el: '#vue-posts',
            delimiters: ['${', '}'],
            data: {
                posts: [],
            },
            filters: {
                publishDate(val) {
                    return moment(val, moment.ISO_8601).format("MMM DD YYYY");
                },
                postUrl(val) {
                    return "/post/" + val;
                }
            },
            methods: {
                getAllPosts() {
                    this.$http.get("/api/posts").then(resp => {
                        this.posts = resp.body;
                    }, err => {
                        console.log(err);
                    });
                }
            },
            created() {
                this.getAllPosts();
            }
        });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="../public/js/bootstrap.min.js"></script>-->
    <!-- Contact Form JavaScript -->
    <!--<script src="../public/js/jqBootstrapValidation.js"></script>-->
    <!--<script src="../public/js/contact_me.js"></script>-->

    <!-- Theme JavaScript -->
    <script src="../public/js/faith.js"></script>

</body>

</html>
