{{ template "head.html" .}}

<body>
    {{template "navbar.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({{ .Post.ImgSrc }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ .Post.Title }}</h1>
                        <h2 class="subheading">{{ .Post.Subtitle }}</h2>
                        <span class="meta">Published by <a href="/author/{{ .Post.Author }}">{{ .Post.Author }}</a> on {{ .PublishDate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ .RawContent }}
                </div>
            </div>
        </div>
    </article>

    {{template "footer.html" .}}

    <!-- jQuery -->
    <script src="../public/js/jquery.min.js"></script>

    <!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
    <!--<script src="../public/js/bootstrap.min.js"></script>-->

    <!--&lt;!&ndash; Contact Form JavaScript &ndash;&gt;-->
    <!--<script src="../public/js/jqBootstrapValidation.js"></script>-->
    <!--<script src="../public/js/contact_me.js"></script>-->

    <!-- Theme JavaScript -->
    <script src="../public/js/faith.js"></script>

    <script>
        $(document).ready(function() {
            $('article .container p:has(img)').css('text-align', 'center');
        });
    </script>

</body>

</html>
