<template>
    <div id="vue-message">
        <transition name="fade">
            <div v-if="show" class="message-container">
                <div id="message" class="ui small floating icon message"
                     style="width: auto; max-width: 500px; margin: 0 auto;"
                     :class="{positive: msg.type===1, info: msg.type===2, warning: msg.type===3, error: msg.type===4}">
                    <i class="icon"
                       :class="{smile: msg.type===1, 'info circle': msg.type===2, meh: msg.type===3, frown: msg.type===4}"></i>
                    <i class="close icon" @click="show=false"></i>
                    <div class="content">
                        <div class="header">{{ msgHeader }}</div>
                        <p>{{ msg.content }}</p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {eventBus} from '../main.js';

    export default {
        name: 'main-message',
        data() {
            return {
                show: false,
                msg: {
                    type: 1,
                    content: ""
                }
            }
        },
        computed: {
            msgHeader() {
                switch (this.msg.type) {
                    case 1:
                        return 'Success';
                    case 2:
                        return 'Info';
                    case 3:
                        return 'Ooops';
                    case 4:
                        return 'Error';
                    default:
                        return 'Info';
                }
            }
        },
        created() {
            eventBus.$on('showMessage', (msg) => {
                this.msg = msg;
                this.show = true;

                let self = this;
                setTimeout(() => {
                    self.show = false;
                }, 3000);
            });
        }
    }
</script>

<style>
    #vue-message .message-container {
        position: fixed;
        top: 20px;
        width: 100%;
        z-index: 9999;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
