<template>
    <div id="vue-sidebar" class="ui left vertical tiny menu sidebar labeled icon">
        <a href="/" class="item" style="height: 60px;">
            <img class="logo svg" src="../assets/faith_logo.svg"/>
        </a>
        <a @click="changePageView(1)" :class="{active:curPageIdx===1}" class="item">
            <i class="dashboard icon"></i>Dashboard
        </a>
        <a @click="changePageView(2)" :class="{active:curPageIdx===2}" class="item">
            <i class="write icon"></i>New Post
        </a>
        <a @click="changePageView(3)" :class="{active:curPageIdx===3}" class="item">
            <i class="archive icon"></i>Archive Posts
        </a>
        <a @click="changePageView(4)" :class="{active:curPageIdx===4}" class="item">
            <i class="picture icon"></i>Media
        </a>
        <a @click="changePageView(5)" :class="{active:curPageIdx===5}" class="item">
            <i class="setting icon"></i>Settings
        </a>
    </div>
</template>

<script>
    import {eventBus} from "../main.js";
    import {mapGetters} from "vuex";
    import {mapMutations} from "vuex";

    export default {
        name: 'main-sidebar',
        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'curPageIdx',
                'contentChanged',
                'editorContent',
                'menuTitle'
            ]),
        },
        methods: {
            ...mapMutations([
                'setCurPageIdx'
            ]),
            changePageView(view) {
                eventBus.sidebarToggled('#vue-sidebar');
                if (this.curPageIdx === view) {
                    return;
                }

                if (this.curPageIdx === 2 && this.contentChanged
                        && (this.editorContent.trim() !== '' || this.menuTitle.trim() !== 'no title :(')) {
                    setTimeout(() => {
                        // TODO: Use modal instead of confirm
                        let ok = confirm("Post content changed.\nDo you want to discard all changes?");
                        if (ok) {
                            this.setCurPageIdx(view);
                        }
                    }, 450);
                } else {
                    this.setCurPageIdx(view);
                }
            }
        },
        mounted() {
            initSvgLogo();
        }
    }

    function initSvgLogo() {
        jQuery('img.svg').each(function () {
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function (data) {
                var $svg = jQuery(data).find('svg');
                if (typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                if (typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass + ' replaced-svg');
                }
                $svg = $svg.removeAttr('xmlns:a');
                if (!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                    $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                }
                $img.replaceWith($svg);
            }, 'xml');

        });
    }
</script>

<style>
    #vue-sidebar {
        border: none;
        border-right: 1px solid rgba(34, 36, 38, 0.15);
    }

    #vue-sidebar a svg {
        height: 35px;
        width: 80px;
    }

    #vue-sidebar a svg path {
        fill: rgba(0, 0, 0, 0.9) !important;
        /*fill: rgba(255,255,255,1.0) !important;*/
    }
</style>
