<template>
    <div id="vue-post-sidebar" class="ui right wide menu vertical sidebar">
        <dimmer-loader :loaderId="'new-post-sidebar-loader'"></dimmer-loader>
        <div class="ui grid">
            <div class="row">
                <div class="thirteen wide column">
                    <div class="ui fluid buttons">
                        <button @click="publishPost(true)" class="ui button"
                                :class="{disabled: post_meta.title === '' || editorContent === ''}">
                            Save Draft
                        </button>
                        <div class="or"></div>
                        <button @click="publishPost(false)" class="ui positive button"
                                :class="{disabled: post_meta.title === '' || editorContent === ''}">
                            Publish Now
                        </button>
                    </div>
                </div>
                <div class="one wide column"></div>
                <div class="two wide column">
                    <button class="ui red basic icon button" :class="{disabled:post_meta.post_id===0}"
                            @click="showPostDeleteModal">
                        <i class="trash outline icon"></i>
                    </button>
                </div>
            </div>

            <div class="ui divider first-divider"></div>
            <br>
            <div class="ui form">
                <div class="ui field" :class="{ error: errors.first('postForm.title') }">
                    <label>Title</label>
                    <div class="ui left icon fluid input">
                        <input v-model="post_meta.title" data-vv-scope="postForm"
                               v-validate="{ rules: { required: true, max: 255 } }" name="title"
                               class="transition visible"
                               placeholder="An awesome post" type="text" autofocus>
                        <i class="edit cursor icon"></i>
                    </div>
                    <span v-show="errors.has('postForm.title')"
                          class="help is-danger">{{ errors.first('postForm.title') }}</span>
                </div>

                <div class="ui accordion field">
                    <div class="ui title">
                        <i class="dropdown icon"></i>
                        Description
                    </div>
                    <div class="content">
                        <div class="ui field" :class="{ error: errors.first('postForm.subtitle') }">
                            <label>Subtitle</label>
                            <input v-model="post_meta.subtitle" name="subtitle" data-vv-scope="postForm" v-validate="{ rules: { max: 255 } }"
                                      type="text" placeholder="Short description" autofocus class="error"/>
                            <span v-show="errors.has('postForm.subtitle')"
                                  class="help is-danger">{{ errors.first('postForm.subtitle') }}</span>
                        </div>
                        <div class="ui field" :class="{ error: errors.first('postForm.summary text') }">
                            <label>Summary Text</label>
                            <div class="ui fluid input"
                                 data-inverted="" data-position="top right" data-tooltip="Will be generated automatically if empty">
                                <textarea v-model="post_meta.summary_text" name="summary text" data-vv-scope="postForm" v-validate="{ rules: { max: 300 } }"
                                          type="text" placeholder="Summary text" rows="4" autofocus class="error"></textarea>
                            </div>
                            <span v-show="errors.has('postForm.summary text')"
                                  class="help is-danger">{{ errors.first('postForm.summary text') }}</span>
                        </div>
                    </div>
                </div>

                <div class="ui field">
                    <label>Header Image</label>
                    <div class="centered row">
                        <div v-if="post_meta.img.id === 0" id="post-img-up" class="ui fluid input">
                            <div @click="showMediaModal" style="width: 100%; height: 100%; z-index: 5;">
                                <div class="centered middle aligned fluid container">
                                    <i class="large picture icon" style="z-index: 6;"></i><br>
                                    <span>Set post image</span>
                                </div>
                            </div>
                        </div>
                        <div v-else id="post-img-show" class="ui fluid container">
                            <img class="ui image" :src="post_meta.img.src"/>
                            <a @click="removeImageHeader">
                                <i class="large red hide icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui field">
                    <label>Preview URL</label>
                    <div class="ui left icon fluid action input">
                        <input v-model="post_meta.url" type="text" readonly placeholder="Auto generated URL"/>
                        <i class="linkify icon"></i>
                        <a :href="previewUrl" target="_blank" class="ui icon button"
                           :class="{disabled: post_meta.post_id===0}"><i class="arrow right icon"></i></a>
                    </div>
                </div>

                <div class="ui field" :class="{ error: errors.first('postForm.publish date') }">
                    <label>Publish Date</label>
                    <div class="ui left icon fluid input"
                         data-inverted="" data-position="top right" data-tooltip="E.g. Apr 06 2017 @ 22:10">
                        <input v-model="post_meta.publish_date" data-vv-scope="postForm"
                               v-validate="{required: true, date_format: 'MMM DD YYYY @ HH:mm'}" name="publish date"
                               class="transition visible"
                               placeholder="MMM DD YYYY @ HH:mm" type="text">
                        <i class="calendar icon"></i>
                    </div>
                    <span v-show="errors.has('postForm.publish date')" class="help is-danger">{{ errors.first('postForm.publish date') }}</span>
                </div>

                <div class="ui field">
                    <label>Post Type</label>
                    <select id="post-type-select" class="ui fluid selection dropdown" v-model="post_meta.type" >
                        <option value="text"><i class="file text outline icon"></i>Text</option>
                        <option value="quote"><i class="quote left icon"></i>Quote</option>
                        <option value="image"><i class="picture icon"></i>Image</option>
                        <option value="video"><i class="video icon"></i>Video</option>
                    </select>
                </div>

                <div class="ui field" :class="{ error: errors.first('postForm.author') }">
                    <label>Author</label>
                    <div class="ui left icon fluid input">
                        <input v-model="post_meta.author" data-vv-scope="postForm"
                               v-validate="{ rules: { required: true, max: 350 } }" name="author"
                               class="transition visible"
                               placeholder="Quy Le Ngoc" type="text" autofocus>
                        <i class="user icon"></i>
                    </div>
                    <span v-show="errors.has('postForm.author')" class="help is-danger">{{ errors.first('postForm.author') }}</span>
                </div>

                <!--TODO: use multiple tags here instead-->
                <div class="ui field">
                    <label>Tags</label>
                    <div class="ui left icon fluid input">
                        <input v-model="post_meta.tags" type="text" placeholder="Go, Artificial Intelligence, Guitar..."/>
                        <i class="tags icon"></i>
                    </div>
                    <div v-if="tags.length !== 0" class="ui tag labels" style="padding-top: 10px;">
                        <a v-for="tag in tags" class="ui label">{{ tag }}</a>
                    </div>
                </div>

                <!--TODO-->
                <div class="ui tiny header">
                    <label style="font-weight: bold; font-size: 0.92857143em; color: rgba(0, 0, 0, 0.87);">Protected Post</label>
                    <div id="isProtected" class="ui slider checkbox" style="position: absolute; right: 0;">
                        <input type="checkbox" name="isProtected" v-model="post_meta.is_protected"/>
                    </div>
                </div>
                <div class="fluid container">
                    <div class="ui left icon fluid action input" :class="{disabled: !post_meta.is_protected}">
                        <input id="postPassword" v-model="post_meta.password" type="password" placeholder="Password"/>
                        <i class="privacy icon"></i>
                        <button class="ui icon button">
                            <i class="unhide icon" onmousedown="document.getElementById('postPassword').type='text';"
                               onmouseup="document.getElementById('postPassword').type='password';"></i>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    import Loader from './models/Loader.vue';
    import DimmerLoader from './models/DimmerLoader.vue';

    import {eventBus} from '../main.js';
    import {global} from '../main.js';
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        name: 'new-post-sidebar',
        data() {
            return {
                tags: [],
                post_meta: this.initPostMeta()
            }
        },
        components: {
            'loader': Loader,
            'dimmer-loader': DimmerLoader
        },
        computed: {
            ...mapGetters([
                'curPageIdx',
                'editorContent',
                'summaryText',
                'contentChanged'
            ]),
            previewUrl() {
                return "/preview" + this.post_meta.url;
            }
        },
        methods: {
            ...mapMutations([
                'setMenuTitle',
                'setEditorContent',
                'setActivePostId',
                'setActivePostTitle',
                'setContentChanged'
            ]),
            initPostMeta() {
                setTimeout(() => {
                    this.setContentChanged(false);
                }, 100);
                return {
                    post_id: 0,
                    title: '',
                    subtitle: '',
                    summary_text: '',
                    img: {
                        id: 0,
                        src: ''
                    },
                    url: '',
                    publish_date: global.cvISO8601ToFaithDateTime(new Date()),
                    type: 'text',
                    author: getDisplayName(),
                    tags: '',
                    is_protected: false,
                    password: '',
                    is_draft: true
                }
            },
            showMediaModal() {
                eventBus.mediaModalShowed(1); // Post image header chooser
            },
            showPostDeleteModal() {
                if (this.post_meta.post_id === 0) {
                    return;
                }
                eventBus.postDeleteModalShowed();
            },
            publishPost(isDraft) {
                if (this.editorContent.trim() === "") {
                    eventBus.messageShowed({type: 3, content: "Please write something for your post first"});
                    return;
                }

                this.$validator.validateAll('postForm').then(res => {
                    if (res) {
                        eventBus.loaderShowed('new-post-sidebar-loader');
                        this.post_meta.is_draft = isDraft;
                        this.post_meta.content = this.editorContent;
                        this.getPostSummaryText();

                        setTimeout(() => {
                            let postMeta = JSON.parse(JSON.stringify(this.post_meta)); // Duplicate data object to prevent failed publish_date validation
                            postMeta.publish_date = global.cvFaithDateTimeToISO8601(postMeta.publish_date);
                            this.$http.post('api/v1/posts', postMeta).then(resp => {
                                this.post_meta = resp.body;
                                this.post_meta.publish_date = global.cvISO8601ToFaithDateTime(this.post_meta.publish_date);
                                this.setActivePostId(this.post_meta.post_id);
                                this.setActivePostTitle(this.post_meta.title);
                                eventBus.messageShowed({
                                    type: 1,
                                    content: isDraft ? "Draft saved" : "Post published"
                                });
                                setTimeout(() => {
                                    this.setContentChanged(false);
                                }, 50);
                            }, err => {
                                eventBus.messageShowed({
                                    type: 4,
                                    content: (isDraft ? "Cannot save draft" : "Cannot publish post") + ". Please check then try again!"
                                });
                                console.log(err);
                            }).then( () => {
                                eventBus.loaderHid('new-post-sidebar-loader');
                            });
                        }, 50);
                    }
                });
            },
            getPostSummaryText() {
                if (this.post_meta.summary_text === "") {
                    let tmp = this.summaryText.split(".");
                    if (tmp.length >= 3) { // First 3 sentences
                        tmp = tmp.slice(0, 3).join(".").replace(/(\r\n|\n|\r)/gm, " ").trim();
                    } else {
                        tmp = this.summaryText.replace(/(\r\n|\n|\r)/gm, " ").trim();
                    }
                    this.post_meta.summary_text = (tmp.length > 295) ? tmp.substring(0, 295) + "..." : tmp + "...";
                } else {
                    if (!this.post_meta.summary_text.endsWith("...")) {
                        this.post_meta.summary_text = (this.post_meta.summary_text.length > 295) ?
                            this.post_meta.summary_text.length.substring(0, 295) + "..." :
                            this.post_meta.summary_text.length + "...";
                    }
                }
            },
            // NativeJS methods
            generatePostURL() {
                if (this.post_meta.publish_date == undefined) {
                    return;
                }
                let date = new Date(this.post_meta.publish_date.split("@")[0].trim());
                if (date == "Invalid Date") {
                    return;
                    // TODO: Should return empty url or default current date url [?]
                }

                let url = '/' + pad(date.getMonth() + 1) + '/' + pad(date.getDate()) + '/' + date.getFullYear();
                let t = this.post_meta.title.replace(/[^0-9a-z -]/gi, '').trim();
                t = t.replace(/ /gi, '-');
                url += (t === "") ? ("/no-title-post") : ("/" + t);
                return encodeURI(url.toLowerCase());
            },
            removeImageHeader() {
                this.post_meta.img.id = 0;
                this.post_meta.img.src = '';
            },
            setContentChangedState() {
                if (!this.contentChanged) {
                    this.setContentChanged(true);
                }
            }
        },
        watch: {
            "post_meta.title"(val) {
                this.post_meta.url = this.generatePostURL(); // Create new post URL
                if (val === "") {
                    val = 'no title :(';
                }
                this.setMenuTitle(val);
                this.setActivePostTitle(val);
                this.setContentChangedState();
            },
            "post_meta.publish_date"(val) {
                this.post_meta.url = this.generatePostURL();
                this.setContentChangedState();
            },
            "post_meta.tags"(val) {
                let t = val.split(",");
                t = t.filter(function (x) {
                    return x.trim() !== ""
                });
                t = t.map(function (x) {
                    x = x.trim();
                    return x.charAt(0).toUpperCase() + x.slice(1);
                });
                this.tags = t;
                this.setContentChangedState();
            },
            "post_meta.img"(val) {
                this.setContentChangedState();
            },
            "post_meta.subtitle"(val) {
                this.setContentChangedState();
            },
            "post_meta.summary_text"(val) {
                this.setContentChangedState();
            },
            "post_meta.type"(val) {
                this.setContentChangedState();
            },
            "post_meta.author"(val) {
                this.setContentChangedState();
            },
            "post_meta.is_protected"(val) {
                this.setContentChangedState();
            },
            "post_meta.password"(val) {
                this.setContentChangedState();
            },
        },
        created() {
            eventBus.$on('initNewPostSidebar', () => {
                this.tags = [];
                this.post_meta = this.initPostMeta();
                this.post_meta.url = this.generatePostURL();
                // TODO: Update dropdown menu to default Text selection
                $("#post-type-select option[value='text']").attr("selected", "selected");
                console.log($("#post-type-select option[value='text']"))
                this.setActivePostId(0);
                this.setActivePostTitle('');
            });
            eventBus.$on('syncPostsToNewPost', (post) => {
                this.post_meta = post;
                this.setActivePostId(post.post_id);
                this.setActivePostTitle(post.title);
            });
            eventBus.$on('deletePost', () => {
                if (this.curPageIdx !== 2) {
                    return;
                }

                eventBus.newPostContentUpdated('');
                this.tags = [];
                this.post_meta = this.initPostMeta();
                this.post_meta.url = this.generatePostURL();
                this.post_meta.title = ''; // TODO: Force to re-trigger the post_meta.title event
            });
            eventBus.$on('insertMedia', (payload) => {
                if (payload.mode === 1) {
                    this.post_meta.img = payload.img;
                }
            });
        },
        mounted() {
            $('#post-type-select').dropdown();
            $('.ui.accordion').accordion();
            $('#isProtected').checkbox({
                onChecked: () => {
                    this.post_meta.is_protected = true;
                },
                onUnchecked: () => {
                    this.post_meta.is_protected = false;
                }
            });

            this.post_meta.url = this.generatePostURL();
        },
        beforeDestroy() {
            this.setActivePostId(0);
            this.setActivePostTitle('');
        }
    };

    function pad(n) {
        return ("0" + n).slice(-2);
    }

    // TODO: Remove this func in production
    function getDisplayName() {
        let name = global.getDisplayName();
        return (name === "") ? "Anonymous" : name;
    }
</script>

<style scoped>
    .ui.fluid.input > input[readonly] {
        color: rgba(0, 0, 0, .3);
    }

    #vue-post-sidebar {
        border: none;
        border-left: 1px solid rgba(34, 36, 38, 0.15);
    }

    #vue-post-sidebar .ui.grid {
        margin: 1em 1em;
        padding-bottom: 1.5em;
    }

    #vue-post-sidebar > .ui.grid > * {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .ui.button {
        font-weight: 500;
    }

    .ui.tiny.header {
        margin: 1.5em 0 0.6em 0;
    }

    .ui.grid > .centered.row {
        padding: 0;
    }

    .ui.grid > .row > .column {
        padding: 0;
    }

    .ui.grid .row + .ui.divider.first-divider {
        margin: 1em 0 0 0;
    }

    #post-img-up,
    #post-img-show {
        cursor: pointer;
        width: 100%;
        height: 160px;
        border-radius: 5px;
        background-color: #F6F7F8;
    }

    #post-img-up {
        border: 2px dashed #D6D6D6;
    }

    #post-img-up:hover,
    #post-img-up:active,
    #post-img-up:focus {
        border: 2px dashed rgba(2, 184, 117, 0.31);
        background-color: #FAFBFC;
    }

    #post-img-up .container {
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
    }

    #post-img-up .container i,
    #post-img-up .container > span {
        color: rgba(0, 0, 0, 0.3);
    }

    #post-img-up a i {
        position: absolute;
        bottom: 10px;
        right: 7px;
        color: rgba(0, 0, 0, 0.3);
        z-index: 6;
    }

    #post-img-up a i:hover,
    #post-img-up a i:active,
    #post-img-up a i:focus {
        color: #02B875;
    }

    #post-img-show img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid rgba(34, 36, 38, 0.15);
        cursor: default;

        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    }

    #post-img-show a i {
        /*position: absolute;*/
        /*bottom: 12px;*/
        /*right: 21px;*/
        position: relative;
        bottom: 33px;
        left: 273px;
    }

    .help.is-danger {
        font-size: 11px;
        line-height: 1em;
        color: #D07B79;
    }

    .ui.input i {
        margin-top: 2px;
    }
    .ui.input.error i {
        margin-top: 2px;
        color: #E99494;
    }

    .error textarea,
    .error textarea:focus,
    .error textarea:active {
        background-color: #FFF6F6;
        border-color: #E0B4B4;
        color: #9F3A38;
        box-shadow: none;
    }
</style>
