<template>
    <div class="ui top fixed menu">
        <div class="ui fluid container">
            <a @click="toggleSidebar" class="header borderless item">
                <i class="content icon"></i>
                <div id="pageTitle" class="ui text">{{ menuTitle }}</div>
            </a>

            <div class="right menu">
                <!--New Post page-->
                <a v-if="curPageIdx === 2" @click="resetEditor" class="borderless item"
                   data-inverted="" data-position="bottom center" data-tooltip="Write new post">
                    <i class="large icons">
                        <i class="write icon no-margin"></i>
                        <i class="corner refresh icon"></i>
                    </i>
                    <!--<i class="large write icon no-margin"></i>-->
                </a>
                <a v-if="curPageIdx === 2" @click="showNewPostSidebar" class="borderless item"
                   data-inverted="" data-position="bottom center" data-tooltip="Edit post details">
                    <i class="large tasks icon no-margin"></i>
                </a>

                <!--Posts page-->
                <a v-if="curPageIdx === 3" @click="showPostMetaModal" class="borderless item"
                   data-inverted="" data-position="bottom center" data-tooltip="Post details">
                    <i class="large file text outline icon no-margin"></i>
                </a>
                <a v-if="curPageIdx === 3" @click="editPost" class="borderless item"
                   data-inverted="" data-position="bottom center" data-tooltip="Edit post">
                    <i class="large edit icon no-margin"></i>
                </a>
                <a v-if="curPageIdx === 3" @click="showPostDeleteModal" class="borderless item"
                   data-inverted="" data-position="bottom center" data-tooltip="Delete post">
                    <i class="large trash outline icon no-margin"></i>
                </a>

                <div :class="{borderless: curPageIdx===1}" class="item">
                    <div class="ui icon top right pointing dropdown">
                        <div class="ui tiny circular floating red label">3</div>
                        <i class="large mail outline icon"></i>
                        <div class="menu">
                            <div class="header">Display Density</div>
                            <div class="item">Comfortable</div>
                            <div class="item">Cozy</div>
                            <div class="item">Compact</div>
                        </div>
                    </div>
                </div>
                <div class="borderless item">
                    <div class="ui icon top right pointing dropdown">
                        <i class="large alarm outline icon"></i>
                        <div class="ui tiny circular floating red label">22</div>
                        <div class="menu">
                            <div class="header">Display Density</div>
                            <div class="item">Comfortable</div>
                            <div class="item">Cozy</div>
                            <div class="item">Compact</div>
                        </div>
                    </div>
                </div>
                <div class="borderless item">
                    <div class="ui top right pointing dropdown">
                        <img class="ui circular image" src="../assets/admin-avatar.jpg" height="35px">
                        <div class="menu">
                            <div class="item">
                                <i class="user icon"></i>
                                Profile
                            </div>
                            <div class="item">
                                <i class="bar chart icon"></i>
                                Statistics
                            </div>
                            <div class="item">
                                <i class="options icon"></i>
                                Settings
                            </div>
                            <div class="divider"></div>
                            <div class="item" @click="logOut">
                                <i class="sign out icon"></i>
                                Logout
                            </div>
                        </div>
                    </div>
                    <!--<button id="userbutton" class="ui right labeled icon teal button"><i class="caret down icon"></i> Tormod-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {eventBus} from '../main.js';
    import {global} from '../main.js';
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        name: 'top-menu',
        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'menuTitle',
                'curPageIdx',
                'editorContent',
                'contentChanged',
            ]),
        },
        methods: {
            ...mapMutations([
                'setMenuTitle',
                'setCurPageIdx'
            ]),
            toggleSidebar() {
                eventBus.sidebarToggled('#vue-sidebar');
            },
            resetEditor() {
                if (this.contentChanged && (this.editorContent.trim() !== '' || this.menuTitle.trim() !== 'no title :(')) {
                    let ok = confirm("Post content changed.\nDo you want to discard all changes and rewrite new post?");
                    if (ok) {
                        eventBus.newPostContentUpdated('');
                        eventBus.newPostSidebarInitialized();
                    }
                } else {
                    eventBus.newPostContentUpdated('');
                    eventBus.newPostSidebarInitialized();
                }
            },
            showNewPostSidebar() {
                eventBus.sidebarToggled('#vue-post-sidebar');
            },
            showPostDeleteModal() {
                eventBus.postDeleteModalShowed();
            },
            showPostMetaModal() {
                eventBus.postMetaModalShowed();
                eventBus.chartReRendered();
            },
            editPost() {
                this.setCurPageIdx(2); // Switch to new post page
                setTimeout(() => {
                    eventBus.postsToNewPostTriggered();
                }, 10);
            },
            uploadMedia() {
                alert("Upload")
            },
            logOut() {
                this.$http.get("api/v1/users/" + global.getUserId() + "/logout").then(resp => {
                    this.post_meta = resp.body;
                    eventBus.messageShowed({
                        type: 1,
                        content: "Logged out. Redirecting to login page..."
                    });
                    setTimeout(() => {
                        window.location = "/login";
                    }, 1500);
                }, err => {
                    eventBus.messageShowed({
                        type: 4,
                        content: "Cannot log out. Please check then try again!"
                    });
                    console.log(err);
                });
            }
        },
        watch: {
            curPageIdx(val) {
                switch (val) {
                    case 1:
                        this.setMenuTitle('Dashboard');
                        break;
                    case 2:
                        this.setMenuTitle('no title :(');
                        break;
                    case 3:
                        this.setMenuTitle('Posts');
                        break;
                    case 4:
                        this.setMenuTitle('Media');
                        break;
                    case 5:
                        this.setMenuTitle('Settings');
                        break;
                }
            }
        },
        created() {
            eventBus.$on('logOutUser', () => {
                this.logOut();
            });
        },
        mounted() {
            // $('.ui.checkbox').checkbox();
            $('.ui.dropdown').dropdown();
        }
    }
</script>

<style>
    .ui.top.fixed.menu {
        height: 60px;
        border-radius: 0;
        /*-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
        /*-moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
        /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    }

    .ui.menu {
        box-shadow: none;
    }

    .ui.menu .item > i.icon.no-margin {
        margin: 0 0.1em;
    }

    #pageTitle {
        margin-top: -4px;
        font-size: 24px;
        font-weight: 500;
        max-width: 650px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.5em;
    }

    @media (min-width: 1200px) {
        #pageTitle {
            max-width: 1070px;
        }
    }
</style>

<style scoped>
    a {
        color: inherit;
        padding: 0;
        margin: 0;
    }
    a:hover,
    a:focus,
    a:active {
        color: #02B875;
    }
</style>
