<template>
    <div :id="loaderId" class="ui inverted dimmer">
        <div class="ui loader"></div>
    </div>
</template>

<script>
    import {eventBus} from '../../main.js';

    export default {
        name: 'dimmer-loader',
        props: ['loaderId'],
        created() {
            eventBus.$on('showLoader', (id) => {
                if (this.loaderId === id) {
                    $('#' + this.loaderId).addClass('active');
                }
            });
            eventBus.$on('hideLoader', (id) => {
                if (this.loaderId === id) {
                    $('#' + this.loaderId).removeClass('active');
                }
            });
        }
    }
</script>
