<template>
    <div class="four wide column">
        <div class="media-container" @mouseenter="mouseEnter" @mouseleave="mouseLeave" :class="{ 'media-show': media_selected, 'media-hide': media_selected }">
            <div class="media-action">
                <a class="ui left corner large icon label" @click="selectMedia" style="z-index: 10;">
                    <i class="checkmark icon" :class="{ green: media_selected }" ></i>
                </a>
                <div class="media-action-detail" @click="showMediaDetail"></div>
            </div>
            <div class="media-title">{{ media.title }}</div>
            <img class="media-item" :src="media.web_path"/>
            <div class="media-background"></div>
        </div>
    </div>
</template>

<script>
    import {eventBus} from '../../main.js';
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        name: 'media-item',
        props: ['media', 'options'],
        data() {
            return {
                media_selected: false,
            }
        },
        computed: {
            ...mapGetters([
                'selectedMedia'
            ]),
        },
        methods: {
            ...mapMutations([
                'addSelectedMedia',
                'removeSelectedMedia',
            ]),
            mouseEnter(event) {
                if (!this.media_selected) {
                    $(event.target.firstChild).show();
                }
            },
            mouseLeave(event) {
                if (!this.media_selected) {
                    $(event.target.firstChild).hide();
                }
            },
            selectMedia() {
                if (this.media_selected) {
                    this.media_selected = false;
                    this.removeSelectedMedia(this.media.media_id);
                } else {
                    if (!this.options.multipleSelect && this.selectedMedia.length >= 1) {
                        return;
                    }
                    this.media_selected = true;
                    this.addSelectedMedia({id: this.media.media_id, title: this.media.title, path: this.media.web_path})
                }
            },
            showMediaDetail() {
                eventBus.mediaDetailShowed(this.media);
            }
        },
        created() {
            eventBus.$on('selectAllMedia', (selected) => {
                if (selected != this.media_selected) {
                    this.selectMedia();
                    if (this.media_selected) {
                        $('.media-action').show();
                    } else {
                        $('.media-action').hide();
                    }
                }
            });

            eventBus.$on('clearAllSelectedMedia', () => {
                if (this.media_selected) {
                    this.selectMedia();
                    $('.media-action').hide();
                }
            });
        }
    }
</script>

<style scoped>
    .media-container {
        position: relative;
        height: 185px;
        width: 100%;
        border: 1px solid rgba(0,0,0, 0.05);
        z-index: 5;
        text-align: center;
    }
    .media-action {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 8;
        background-color: transparent;
        cursor: pointer;
        display: none;
    }
    .media-action:hover,
    .media-action:focus,
    .media-action:active {
        background-color: rgba(0,0,0, 0.1);
    }

    .media-action-detail {
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    .media-title {
        float: left;
        position: absolute;
        padding: 10px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 7;
        background-color: rgba(0,0,0,0.41);
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
    }
    .media-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 6;
    }
    .media-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQoU2P8////fwY08O7dO3QhBsahoPDt27cYnhESEsL0zBBQCABYujXVLyjsowAAAABJRU5ErkJggg==) repeat;
    }

    .media-show {
        display: none;
    }

    .media-hide {
        display: block;
    }
</style>
