<template>
    <div :id="modalId" class="ui fullscreen modal">
        <div class="header">
            Choose media
        </div>
        <div class="content" style="overflow: auto;" :style="{ height: modalHeight + 'px' }">
            <media :mediaDetailModalId="'modal-media-modal'" :options="mediaOptions"></media>
        </div>
        <div class="actions">
            <div class="selected-media-list">{{ selectedMediaList }}</div>
            <div class="ui positive button" @click="insertMedia">OK</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>
</template>

<script>
    import Media from '../pages/Media.vue';

    import {eventBus} from '../../main.js';
    import {mapGetters} from 'vuex';

    export default {
        name: 'media-modal',
        props: ['modalId'],
        components: {
            'media': Media
        },
        data() {
            return {
                modalHeight: $(window).height() - 225,
                mode: -1,
                mediaOptions: {
                    multipleSelect: true
                }
            }
        },
        computed: {
            ...mapGetters([
                'selectedMedia'
            ]),
            selectedMediaList() {
                let titles = '';
                for (let i = 0; i < this.selectedMedia.length; i++) {
                    titles += this.selectedMedia[i].title + ", ";
                }
                return titles.substring(0, titles.length - 2);
            }
        },
        methods: {
            insertMedia() {
                if (this.mode === 0) { // Insert multiple media to editor
                    let paths = [];
                    for (let i = 0; i < this.selectedMedia.length; i++) {
                        paths.push(this.selectedMedia[i].path);
                    }
                    eventBus.mediaInserted({mode: this.mode, data: paths});
                } else if (this.mode === 1 || this.mode === 2) { // Insert media to post image header or user avatar
                    eventBus.mediaInserted({mode: this.mode, img: {id: this.selectedMedia[0].id, src: this.selectedMedia[0].path}});
                }
            }
        },
        created() {
            eventBus.$on('showMediaModal', (mode) => {
                this.mode = mode;
                if (this.mode === 0) {
                    this.mediaOptions.multipleSelect = true;
                } else if (this.mode === 1 || this.mode === 2) {
                    this.mediaOptions.multipleSelect = false;
                }

                eventBus.allMediaCleared();
                $('#' + this.modalId).modal('show');
            });
        },
        mounted() {
            // TODO: Allow multi modals
            $('.ui.fullscreen.modal').modal({
                allowMultiple: true
            });
        }
    }
</script>

<style>
    .ui.modal > .content .main-content {
        margin-top: -30px;
    }
    .selected-media-list {
        height: 100%;
        float: left;
        max-width: 600px;
        color: rgb(170, 170, 170);
        font-size: 12px;
        text-align: left;
        line-height: 1.5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
