<template>
    <div :id="modalId" class="ui basic modal">
        <div class="header">{{ media.title }}</div>
        <div class="content">
            <img class="media-img" :src="media.web_path"/>
            <br> <!--Remove copy link button auto focus-->
            <span style="visibility: hidden;"><input class="ui mini input" type="text" autofocus/></span>
            <table class="ui inverted celled striped table">
                <tbody>
                <tr>
                    <td class="three wide">Media ID</td>
                    <td class="thirteen wide">{{ media.media_id }}</td>
                </tr>
                <tr>
                    <td>Filename</td>
                    <td>{{ media.filename }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ media.description }}</td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{ media.created_at }}</td>
                </tr>
                <tr>
                    <td>Owner ID</td>
                    <td>{{ media.owner_id }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ media.type }}</td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>{{ media.size | size }}</td>
                </tr>
                <tr>
                    <td>Link</td>
                    <td><a :href="media.web_path | mediaLink" target="_blank">{{ media.web_path }}</a>
                        <button id="btn-copy-link" class="ui basic grey circular icon mini right floated button"
                                data-inverted="" data-position="top center" data-tooltip="Copy link"
                                @click="copyLink(media.web_path)">
                            <i class="copy icon"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import {eventBus} from '../../main.js';

    let sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

    export default {
        name: 'media-detail-modal',
        props: ['modalId'],
        data() {
            return {
                media: {}
            }
        },
        filters: {
            size(val) {
                let index = 0;
                let tmp = val;
                while (tmp / 1000 >= 1) {
                    tmp /= 1000;
                    index++;
                }
                return (val / (Math.pow(1000, index))).toFixed(2) + sizes[index];
            },
            mediaLink(val) {
                return document.domain + "/" + val;
            }
        },
        methods: {
            copyLink(link) {
                let $temp = $("<input>");
                $("body").append($temp);
                $temp.val(' ' + link).select();
                document.execCommand("copy");
                $temp.remove();
            }
        },
        created() {
            eventBus.$on('showMediaDetail', (media) => {
                this.media = media;
                setTimeout(() => {
                    $('#' + this.modalId).modal('show');
                }, 100);
            });
        },
        beforeDestroy() {
            $('#' + this.modalId).remove();
        }
    }
</script>

<style scoped>
    .content {
        text-align: center;
    }

    .media-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
</style>
