<template>
    <div :id="modalId" class="ui basic modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Delete<span style="color: #02B875;"> {{ activePostTitle }} </span>post
        </div>
        <div class="centered content">
            <p>This action will delete the post along with its drafts and cannot be undo.<br/>Delete anyway?</p>
        </div>
        <div class="actions">
            <div class="ui basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui red ok inverted button" @click="deletePost">
                <i class="trash outline icon"></i>
                Yes. Trash it!
            </div>
        </div>
    </div>
</template>

<script>
    import {eventBus} from '../../main.js';
    import {mapGetters} from 'vuex';

    export default {
        name: 'post-delete-modal',
        props: ['modalId'],
        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'curPageIdx',
                'activePostId',
                'activePostTitle'
            ])
        },
        methods: {
            deletePost() {
                this.$http.delete('api/v1/posts/' + this.activePostId).then(resp => {
                    eventBus.messageShowed({type: 1, content: "Post and drafts was deleted"});
                    eventBus.postDeleted();
                }, err => {
                        eventBus.messageShowed({
                            type: 4,
                            content: "Cannot delete post and drafts. Please check then try again!"
                        });
                        console.log(err);
                    });
            },
        },
        created() {
            eventBus.$on('showPostDeleteModal', () => {
                if (this.activePostId === 0 || this.activePostTitle.trim() === "") {
                    return;
                }
                // TODO: Find better way to handle 2 times showing deletion modal
                if ((this.curPageIdx === 2 && this.modalId === 'new-post-delete-modal') ||
                    (this.curPageIdx === 3 && this.modalId === 'posts-delete-modal')) {
                    $('#' + this.modalId).modal('setting', 'closable', false).modal('show');
                }
            });
        }
    }
</script>

<style scoped>
    .centered.content {
        text-align: center;
    }
</style>
