<template>
    <div :id="modalId" class="ui long modal">
        <div class="header">{{ postMeta.title }}</div>
        <div class="content">
            <h3>Metadata</h3>
            <table class="ui celled striped table">
                <tbody>
                <tr>
                    <td class="three wide">Header image</td>
                    <td class="thirteen wide"><img :src="imgSrc" width="100%" height="auto"></td>
                </tr>
                <tr>
                    <td>Post ID</td>
                    <td>{{ postMeta.post_id }}</td>
                </tr>
                <tr>
                    <td>Subtitle</td>
                    <td>{{ postMeta.subtitle }}</td>
                </tr>
                <tr>
                    <td>Summary Text</td>
                    <td>{{ postMeta.summary_text }}</td>
                </tr>
                <tr>
                    <td>Preview URL</td>
                    <td><a :href="postMeta.url | previewUrl" target="_blank">{{ postMeta.url }}</a></td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{ postMeta.created_at }}</td>
                </tr>
                <tr>
                    <td>Last update</td>
                    <td>{{ postMeta.publish_date }}</td>
                </tr>
                <tr>
                    <td>Owner ID</td>
                    <td>{{ postMeta.owner_id }}</td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>{{ postMeta.tags }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ postMeta.type }}</td>
                </tr>
                <tr>
                    <td>Protected</td>
                    <td>{{ postMeta.is_protected }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{ postMeta.password }}</td>
                </tr>
                </tbody>
            </table>

            <br>
            <div class="ui divider"></div>
            <h3>Statistic</h3>
            <h5>Post views</h5>
            <chartist ratio="ct-major-second" :type="'Line'" :data="dataCollection" :options="options" style="width: 100%; height: 250px;"></chartist>
            <h5>Most active time</h5>
            <chartist ratio="ct-major-second" :type="'Line'" :data="dataCollection" :options="options" style="width: 100%; height: 250px;"></chartist>
            <h5>Top comments</h5>
            <chartist ratio="ct-major-second" :type="'Line'" :data="dataCollection" :options="options" style="width: 100%; height: 250px;"></chartist>
        </div>
    </div>
</template>

<script>
    import {eventBus} from '../../main.js';

    export default {
        name: 'post-meta-modal',
        props: ['modalId', 'postMeta'],
        data() {
            return {
                dataCollection: {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8],
                    series: [
                        [1, 2, 3, 1, -2, 0, 1, 0],
                        [-2, -1, -2, -1, -3, -1, -2, -1],
                        [0, 0, 0, 1, 2, 3, 2, 1],
                        [3, 2, 1, 0.5, 1, 0, -1, -3]
                    ]
                },
                options: {
                    fullWidth: true,
                    lineSmooth: true
                }
            }
        },
        computed: {
            imgSrc() {
                return (this.postMeta.img == undefined || this.postMeta.img.src === '') ? "" : this.postMeta.img.src;
            }
        },
        filters: {
            previewUrl(val) {
                return document.domain + '/..' + val;
            }
        },
        methods: {},
        created() {
            eventBus.$on('showPostMetaModal', () => {
                $('#' + this.modalId).modal('show');
            });

            eventBus.$on('reRenderChart', () => {
                let tmp = this.dataCollection;
                this.dataCollection = {label:[], series:[]};
                setTimeout(() => {
                    this.dataCollection = tmp;
                }, 200);
            });
        },
        mounted () {
        }
    }
</script>
