<template>
    <div class="ui fluid grid">
        <dimmer-loader :loaderId="'profile-segment-loader'"></dimmer-loader>
        <div class="row">
            <div class="five wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" @click="showAvatarChooserModal">Change Avatar</div>
                                    </div>
                                </div>
                            </div>
                            <img :src="user.avatar_src">
                        </div>
                        <div class="content">
                            <a class="header">{{ user.display_name }}</a>
                            <div class="meta">
                                <span class="date">Joined {{ joined_time }}</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 members <!--TODO-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui form">
                        <h4 class="ui dividing header">Account</h4>
                        <div class="ui accordion field">
                            <dimmer-loader :loaderId="'password-form-loader'"></dimmer-loader>
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Change password
                            </div>
                            <div class="content">
                                <div class="field" :class="{ 'error': errors.has('pwForm.current password') }">
                                    <input v-model="pw.cur_pass" data-vv-scope="pwForm"
                                           v-validate="{ rules: { required: true, min: 8, max: 30 } }"
                                           name="current password"
                                           class="transition visible"
                                           placeholder="Current password" type="password">
                                    <span v-show="errors.has('pwForm.current password')" class="help is-danger">{{ errors.first('pwForm.current password') }}</span>
                                </div>
                                <div class="field" :class="{ 'error': errors.has('pwForm.new password') }">
                                    <input v-model="pw.new_pass" data-vv-scope="pwForm"
                                           v-validate="{ rules: { required: true, min: 8, max: 30 } }"
                                           name="new password"
                                           class="transition visible"
                                           placeholder="New password" type="password">
                                    <span v-show="errors.has('pwForm.new password')" class="help is-danger">{{ errors.first('pwForm.new password') }}</span>
                                </div>
                                <div class="field" :class="{ 'error': errors.has('pwForm.re-type password') }">
                                    <input v-model="pw.retype_pass" data-vv-scope="pwForm"
                                           v-validate="{ rules: { required: true, min: 8, max: 30, confirmed:'new password'} }"
                                           name="re-type password"
                                           class="transition visible"
                                           placeholder="Re-type new password" type="password">
                                    <span v-show="errors.has('pwForm.re-type password')" class="help is-danger">{{ errors.first('pwForm.re-type password') }}</span>
                                </div>
                                <div id="change-password-btn" class="ui positive button" @click="changePassword">Save</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                <div class="ui segment">
                    <form id="profileForm" class="ui form">
                        <h4 class="ui dividing header">Profile</h4>
                        <div class="two fields">
                            <div class="six wide field">
                                <label>Username</label>
                                <input :value="user.username" type="text" placeholder="admin" readonly>
                            </div>
                            <div class="ten wide field" :class="{ 'error': errors.has('profileForm.email') }">
                                <label>Email</label>
                                <input v-model="user.email" data-vv-scope="profileForm"
                                       v-validate="{ rules: { required: true, email: true, max: 55 } }" name="email"
                                       class="transition visible"
                                       placeholder="admin@lnquy.com" type="text">
                                <span v-show="errors.has('profileForm.email')" class="help is-danger">{{ errors.first('profileForm.email') }}</span>
                            </div>
                        </div>
                        <div class="field">
                            <label>Name</label>
                            <div class="two fields">
                                <div class="six wide field" :class="{ 'error': errors.has('profileForm.firstName') }">
                                    <input v-model="user.first_name" data-vv-scope="profileForm"
                                           v-validate="{max: 30}" name="firstName"
                                           class="transition visible"
                                           placeholder="First Name" type="text">
                                    <span v-show="errors.has('profileForm.firstName')" class="help is-danger">{{ errors.first('profileForm.firstName') }}</span>
                                </div>
                                <div class="ten wide field" :class="{ 'error': errors.has('profileForm.lastName') }">
                                    <input v-model="user.last_name" data-vv-scope="profileForm"
                                           v-validate="{max: 50}" name="lastName"
                                           class="transition visible"
                                           placeholder="Last Name" type="text">
                                    <span v-show="errors.has('profileForm.lastName')" class="help is-danger">{{ errors.first('profileForm.lastName') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Display Name</label>
                            <div class="two fields">
                                <div class="six wide field">
                                    <select id="name-select" v-model="user.display_name_opt"
                                            class="ui fluid search dropdown"
                                            name="display-name-type">
                                        <option value=0>Username</option>
                                        <option value=1>First Name</option>
                                        <option value=2>Last Name</option>
                                        <option value=3>First Name - Last Name</option>
                                        <option value=4>Last Name - First Name</option>
                                        <option value=5>Email</option>
                                        <option value=6>Custom</option>
                                    </select>
                                </div>
                                <div class="ten wide field"
                                     :class="{ 'error': errors.has('profileForm.display name') }">
                                    <input v-model="user.display_name" :value="user.display_name"
                                           data-vv-scope="profileForm"
                                           v-validate="{required: true}" name="display name"
                                           class="transition visible"
                                           placeholder="Your Nickname" type="text"
                                           :readonly="user.display_name_opt != 6">
                                    <span v-show="errors.has('profileForm.display name')" class="help is-danger">{{ errors.first('profileForm.display name') }}</span>
                                </div>
                            </div>
                        </div>
                        <div id="save-profile-btn" class="ui positive button" @click="saveProfile">Save</div>
                    </form>

                    <br><br>
                    <form class="ui form">
                        <h4 class="ui dividing header">Other Information</h4>
                        <div class="field">
                            <div class="two fields">
                                <div class="field" :class="{ 'error': errors.has('infoForm.birthday') }">
                                    <label>Birthday</label>
                                    <input v-model="user.birthday" data-vv-scope="infoForm"
                                           v-validate="{date_format: 'MM/DD/YYYY'}" name="birthday"
                                           class="transition visible"
                                           placeholder="MM/DD/YYYY" type="text">
                                    <span v-show="errors.has('infoForm.birthday')" class="help is-danger">{{ errors.first('infoForm.birthday') }}</span>
                                </div>
                                <div class="field" :class="{ 'error': errors.has('infoForm.phone') }">
                                    <label>Phone</label>
                                    <!--TODO: Validate phone with country code, not just numeric-->
                                    <input v-model="user.phone" data-vv-scope="infoForm"
                                           v-validate="{numeric: true}" name="phone"
                                           class="transition visible"
                                           placeholder="Phone" type="text">
                                    <span v-show="errors.has('infoForm.phone')" class="help is-danger">{{ errors.first('infoForm.phone') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Address</label>
                            <div class="fields">
                                <div class="twelve wide field" :class="{ 'error': errors.has('infoForm.address') }">
                                    <input v-model="user.address" data-vv-scope="infoForm"
                                           v-validate="{max: 350}" name="address"
                                           class="transition visible"
                                           placeholder="Street Address" type="text">
                                    <span v-show="errors.has('infoForm.address')" class="help is-danger">{{ errors.first('infoForm.address') }}</span>
                                </div>
                                <div class="four wide field" :class="{ 'error': errors.has('infoForm.postalCode') }">
                                    <input v-model="user.postal_code" data-vv-scope="infoForm"
                                           v-validate="{numeric: true, max: 8}" name="postalCode"
                                           class="transition visible"
                                           placeholder="Postal Code" type="text">
                                    <span v-show="errors.has('infoForm.postalCode')" class="help is-danger">{{ errors.first('infoForm.postalCode') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field" :class="{ 'error': errors.has('infoForm.introducing') }">
                            <label>Introducing</label>
                            <textarea v-model="user.introduce_text" data-vv-scope="infoForm"
                                      v-validate="{max: 700}" name="introducing"
                                      class="transition visible"
                                      placeholder="Something about me" type="text"></textarea>
                            <span v-show="errors.has('infoForm.introducing')" class="help is-danger">{{ errors.first('infoForm.introducing') }}</span>
                        </div>
                        <div id="save-info-btn" class="ui positive button" @click="saveUserInfo">Save</div>
                    </form>

                    <br><br>
                    <form class="ui form">
                        <h4 class="ui dividing header">Authority</h4>
                        <div class="field">
                            <label>Account Type</label>
                            <div class="field">
                                <select id="account-select" v-model="user.account_type" class="ui fluid search dropdown"
                                        name="account_type">
                                    <option value=0>Administrator</option>
                                    <option value=1>Moderator</option>
                                    <option value=2>Contributor</option>
                                    <option value=3>Normal User</option>
                                    <option value=4>Guest</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div id="is-active" class="ui slider checkbox">
                                <input v-model="user.is_active" type="checkbox" name="is_active" tabindex="0"
                                       class="hidden">
                                <label>Is account active?</label>
                            </div>
                        </div>
                        <div id="save-authority-btn" class="ui positive button" @click="saveUserAuthority">Save</div>
                    </form>
                </div>
            </div>
        </div>

        <media-modal :modalId="'profile-segment-media-modal'"></media-modal>
    </div>
</template>

<script>
    import Loader from './Loader.vue';
    import DimmerLoader from './DimmerLoader.vue';
    import MediaModal from './MediaModal.vue';

    import {eventBus} from '../../main.js';
    import {global} from '../../main.js';

    export default {
        name: 'profile-segment',
        data() {
            return {
                userUrl: "api/v1/users/" + global.getUserId(),
                joined_time: '',
                pw: {
                    cur_pass: '',
                    new_pass: '',
                    retype_pass: ''
                },
                user: {
                    user_id: 0,
                    created_at: '',
                    // UserAccount
                    username: '',
                    email: '',
                    password: '',
                    // UserInfo
                    avatar_id: '',
                    avatar_src: '',
                    first_name: '',
                    last_name: '',
                    display_name_opt: '',
                    display_name: '',
                    birthday: '',
                    phone: '',
                    address: '',
                    postal_code: '',
                    introduce_text: '',
                    // Authority
                    account_type: '',
                    last_active: '',
                    is_active: true
                }
            }
        },
        components: {
            'loader': Loader,
            'dimmer-loader': DimmerLoader,
            'media-modal': MediaModal
        },
        methods: {
            getUserData() {
                eventBus.loaderShowed('profile-segment-loader');
                this.$http.get(this.userUrl).then(resp => {
                        this.user = resp.body;
                        this.user.birthday = global.cvISO8601ToUSDate(this.user.birthday);
                    },
                    err => {
                        console.log(err);
                    }).then( () => {
                    eventBus.loaderHid('profile-segment-loader');
                });
            },
            showAvatarChooserModal() {
                eventBus.mediaModalShowed(2); // User avatar chooser
            },
            changePassword() {
                this.$validator.validateAll('pwForm').then(res => {
                    if (res) {
                        if (this.pw.cur_pass === this.pw.new_pass) {
                            eventBus.messageShowed({
                                type: 3,
                                content: "New password must be differ from your current password"
                            });
                            return
                        }

                        eventBus.loaderShowed('password-form-loader');
                        this.$http.put(this.userUrl + '/pw', this.pw).then(resp => {
                            eventBus.messageShowed({
                                type: 1,
                                content: "Password changed"
                            });
                            setTimeout(() => {
                                eventBus.userLoggedOut();
                            }, 1500);
                        }, err => {
                            this.pw.cur_pass = "";
                            eventBus.messageShowed({
                                type: 4,
                                content: "Cannot change your password. Please check then try again!"
                            });
                            console.log(err);
                        }).then( () => {
                            eventBus.loaderHid('password-form-loader');
                        });
                    }
                });
            },
            saveProfile() {
                this.$validator.validateAll('profileForm').then(res => {
                    if (res) {
                        loadingButton('save-profile-btn');
                        // TODO: Find better solution than this
                        let profile = {
                            username: this.user.username,
                            email: this.user.email,
                            first_name: this.user.first_name,
                            last_name: this.user.last_name,
                            display_name_opt: parseInt(this.user.display_name_opt),
                            display_name: this.user.display_name
                        };

                        this.$http.put(this.userUrl + "/profile", profile).then(resp => {
                            eventBus.messageShowed({
                                type: 1,
                                content: "Your profile has been updated"
                            });
                        }, err => {
                            eventBus.messageShowed({
                                type: 4,
                                content: "Cannot save your profile. Please check and try again!"
                            });
                            console.log(err);
                        }).then( () => {
                            normalButton('save-profile-btn');
                        });
                    }
                });
            },
            saveUserInfo() {
                this.$validator.validateAll('infoForm').then(res => {
                    if (res) {
                        loadingButton('save-info-btn');
                        // TODO: Find better solution than this
                        let info = {
                            birthday: global.cvUSDateToISO8601(this.user.birthday),
                            phone: this.user.phone,
                            address: this.user.address,
                            postal_code: this.user.postal_code,
                            introduce_text: this.user.introduce_text,
                        };

                        this.$http.put(this.userUrl + "/info", info).then(resp => {
                            eventBus.messageShowed({
                                type: 1,
                                content: "Your information has been updated"
                            });
                        }, err => {
                            eventBus.messageShowed({
                                type: 4,
                                content: "Cannot save your information. Please check and try again!"
                            });
                            console.log(err);
                        }).then( () => {
                            normalButton('save-info-btn');
                        });
                    }
                });
            },
            saveUserAuthority() {
                loadingButton('save-authority-btn');
                let authority = {
                    account_type: parseInt(this.user.account_type),
                    is_active: this.user.is_active,
                    // last_active: this.user.last_active
                };

                this.$http.put(this.userUrl + "/authority", authority).then(resp => {
                    eventBus.messageShowed({
                        type: 1,
                        content: "Your authority has been updated"
                    });
                }, err => {
                    eventBus.messageShowed({
                        type: 4,
                        content: "Cannot save your authority. Please check and try again!"
                    });
                    console.log(err);
                }).then( () => {
                    normalButton('save-authority-btn');
                });
            }
        },
        watch: {
            'user.display_name_opt'(val) {
                $("#name-select").val(val + "").change();
                switch (parseInt(val)) {
                    case 0:
                        this.user.display_name = this.user.username;
                        break;
                    case 1:
                        this.user.display_name = this.user.first_name.trim();
                        break;
                    case 2:
                        this.user.display_name = this.user.last_name.trim();
                        break;
                    case 3:
                        this.user.display_name = this.user.first_name.trim() + " " + this.user.last_name.trim();
                        break;
                    case 4:
                        this.user.display_name = this.user.last_name.trim() + " " + this.user.first_name.trim();
                        break;
                    case 5:
                        this.user.display_name = this.user.email;
                        break;
                    default:
                        this.user.display_name = this.user.username;
                }
                if (this.user.display_name.trim() === "") {
                    this.user.display_name = this.user.username;
                }
            },
            'user.created_at'(val) {
                this.joined_time = moment(val, moment.ISO_8601).fromNow(); // TODO
            },
            'user.account_type'(val) {
                $("#account-select").val(val + "").change();
            }
        },
        created() {
            eventBus.$on('insertMedia', (payload) => {
                if (payload.mode === 2) {
                    this.user.avatar_id = payload.img.id;
                    this.user.avatar_src = payload.img.src;

                    let avatar = {avatar_id: this.user.avatar_id, avatar_src: this.user.avatar_src};
                    this.$http.put(this.userUrl + "/avatar", avatar).then(resp => {
                        eventBus.messageShowed({
                            type: 1,
                            content: "Your avatar has been updated"
                        });
                    }, err => {
                        eventBus.messageShowed({
                            type: 4,
                            content: "Cannot update your avatar. Please check and try again!"
                        });
                        console.log(err);
                    });
                }
            });
        },
        mounted() {
            $('.special.cards .image').dimmer({on: 'hover'});
            $('.ui.accordion').accordion();

            $('#is-active').checkbox({
                onChecked: () => {
                    this.user.is_active = true;
                },
                onUnchecked: () => {
                    this.user.is_active = false;
                }
            });

            this.getUserData();
        },
        beforeDestroy() { // Completely remove mounted modals
            $('#profile-segment-media-modal').remove();
        }
    }

    function loadingButton(id) {
        $('#' + id).addClass('loading');
    }
    function normalButton(id) {
        $('#' + id).removeClass('loading');
    }
</script>

<style scoped>
    .help.is-danger {
        font-size: 11px;
        line-height: 1em;
        color: #D07B79;
    }

    .ui.grid {
        padding-bottom: 15px;
    }

    .ui.special.cards .card {
        width: 100%;
    }

    .ui.cards > .card > .image {
        min-height: 200px;
    }
</style>
