<template>
    <div>
        <h1>Settings</h1>
        <br><br>
        <p style="font-size: 20px; text-align: center; color: #E5343A">This page is not implemented yet =))</p>
        <br>
    </div>
</template>

<script>
    export default {
        name: 'settings-segment',
        data() {
            return {

            }
        },
        methods: {

        }
    }
</script>
