{{ template "head.html" .}}
<body>
    {{template "navbar.html" .}}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ .HeaderImg }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1>Personal Blog</h1>
                        <hr class="small">
                        <span class="subheading">I don't have much faith in humanity. But here I am.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div id="vue-posts" class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                Author page
            </div>
        </div>
    </div>

    {{template "footer.html" .}}

    <script>

    </script>

    <script src="/static/js/jquery.min.js"></script>
    <!--<script src="/static/js/bootstrap4.min.js"></script>-->
    <script src="/static/js/faith.js"></script>


</body>

</html>
