<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Faith - Personal Go blog">
    <meta name="author" content="lnquy">

    <!--Do not use HTTP2 push for favicons so use static/* instead of /static/* to escape Go regex-->
    <link rel="apple-touch-icon" sizes="57x57" href="static/img/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/img/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/img/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/img/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/img/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/img/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/img/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">

    <title>{{ .Title }}</title>

    <!--TODO-->
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <!--<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Noto+Serif|Petit+Formal+Script" rel="stylesheet">

    <!--TODO-->
    <!--<link href="/static/stylesheet/bootstrap.css" rel="stylesheet">-->
    <!--Bootstrap 4-->
    <link href="/static/stylesheet/bootstrap4.css" rel="stylesheet">
    <link href="/static/stylesheet/faith.css" rel="stylesheet">
    <link href="/static/stylesheet/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Global JS-->
    <script src="/static/js/vuejs-2.6.6.min.js"></script>
    <script src="/static/js/moment-2-18-1.min.js"></script>
    <script src="/static/js/vue-resource-1.3.1.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }
    </style>
</head>
