<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Faith - Personal Go blog">
    <meta name="author" content="lnquy">
    <link rel="shortcut icon" href="static/img/fav/favicon.ico" type="image/x-icon">

    <title>Faith | Login</title>

    <link href="/static/stylesheet/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheet/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/stylesheet/login.css" rel="stylesheet">
</head>

<body>

<div id="vue-login">
    <div class="logo">
        <img class="svg" src="/static/img/faith_logo.svg" height="50px"/>
    </div>

    <div class="container">
        <div class="card card-container">
            <a href="/"><img id="profile-img" class="profile-img-card" src="/static/img/admin-avatar.jpg" /></a>
            <p id="profile-name" class="profile-name-card"></p>
            <form :model="loginForm" class="form-signin">
                <div>
                    <input v-model="loginForm.username" type="text" class="form-control" name="username" placeholder="Username" autocomplete="true" v-validate="'required|min:4|max:20|alpha_dash'" data-vv-scope="loginScope">
                    <div class="text-danger has-error" v-if="errors.has('loginScope.username')">- Username is required and unique<br/>
                        - Length from 4 to 20 characters<br/>
                        - Alphabetic characters (a-z, A-Z), numbers (0-9), dashes (-) and underscores (_) only
                    </div>
                </div>
                <div>
                    <input v-model="loginForm.password" type="password" class="form-control" name="password" placeholder="Password" v-validate="'required|min:8|max:30'" data-vv-scope="loginScope">
                    <div class="text-danger has-error" v-if="errors.has('loginScope.password')">- Password is required<br/>
                        - Length from 8 to 30 characters
                    </div>
                </div>
            </form>
            <button id="btnLogin" class="btn btn-lg btn-primary btn-block btn-signin" @click="userLogin">Let's Go!</button>
        </div>
    </div>
</div>

<script src="/static/js/vuejs-2.6.6.js"></script>
<script src="/static/js/vee-validate.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
    Vue.use(VeeValidate);

    let vueLogin = new Vue( {
        el: '#vue-login',
        data: {
            loginForm: {
                username: '',
                password: ''
            },
            isLogLoading: false,
        },
        methods: {
            userLogin() {
                this.$validator.validateAll('loginScope').then(res => {
                    if (res) {
                        this.isLogLoading = true;
                        let self = this;
                        $.ajax({
                            type:    "POST",
                            url:     "/login",
                            data:    JSON.stringify(self.loginForm),
                            success: function(data, status) {
                                if (status === "success" && data === "OK") {
                                    console.log('Login successfully. Welcome to Yamoo!');
                                }
                                setTimeout(function() {
                                    window.location.replace("/admin")
                                }, 500); // TODO
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                self.isLogLoading = false;
                                console.log('Login failed (' + jqXHR["responseText"].slice(1, -1) + '). Please try again!');
                            }
                        })
                    }
                });
            },
        },
    });

    <!-- Native JS-->
    $(function(){
        jQuery('img.svg').each(function(){
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function(data) {
                var $svg = jQuery(data).find('svg');
                if(typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                if(typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass+' replaced-svg');
                }
                $svg = $svg.removeAttr('xmlns:a');
                if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                    $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                }
                $img.replaceWith($svg);
            }, 'xml');

        });
    });
</script>
</body>
</html>
