{{ template "head.html" .}}
<body>
    {{template "navbar.html" .}}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ .Post.ImgSrc }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="post-heading">
                        <h1>{{ .Post.Title }}</h1>
                        <h2 class="subheading">{{ .Post.Subtitle }}</h2>
                        <span class="meta">Published by <a href="/authors/{{ .Post.Author }}">{{ .Post.Author }}</a> on {{ .PublishDate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    {{ .RawContent }}
                </div>
            </div>
        </div>
    </article>

    {{template "footer.html" .}}

    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>

    <!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
    <!--<script src="../public/js/bootstrap.min.js"></script>-->

    <!--&lt;!&ndash; Contact Form JavaScript &ndash;&gt;-->
    <!--<script src="../public/js/jqBootstrapValidation.js"></script>-->
    <!--<script src="../public/js/contact_me.js"></script>-->

    <!-- Theme JavaScript -->
    <script src="/static/js/faith.js"></script>
    <script src="/static/js/highlight.min.js"></script>

    <script>
        $(document).ready(function() {
            $('article .container p:has(img)').css('text-align', 'center');

            setTimeout(() => {
                $('div pre').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            }, 50);
        });
    </script>

</body>

</html>
