<template>
    <div class="quill-editor">
        <slot name="toolbar"></slot>
        <div ref="editor"></div>
    </div>
</template>

<script>
    import {eventBus} from '../../../src/main.js';

    require('quill/dist/quill.core.css');
    require('quill/dist/quill.snow.css');
    require('quill/dist/quill.bubble.css');
    if (!window.Quill) {
        window.Quill = require('quill/dist/quill.js');
    }
    export default {
        name: 'quill-editor',
        data() {
            return {
                _content: '',
                defaultModules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        [{'script': 'sub'}, {'script': 'super'}],
                        [{'color': []}, {'background': []}],
                        [{'header': 1}, {'header': 2}],
                        [{'header': [1, 2, 3, 4, 5, 6, false]}],
                        [{'align': []}],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        ['link', 'image', 'video'],
                        ['blockquote', 'code-block'],
                        ['clean'],
//                        [{ 'indent': '-1'}, { 'indent': '+1' }],
//                        [{'size': ['small', false, 'large', 'huge']}],
//                        [{'direction': 'rtl'}],
//                        [{'font': [] }]
                    ]
                },
            }
        },
        props: {
            content: String,
            value: String,
            options: {
                type: Object,
                required: false,
                default() {
                    return {}
                }
            }
        },
        created() {
            eventBus.$on('insertMedia', (payload) => {
                if (payload.mode === 0) {
                    this.quill.focus();
                    for (let i = 0; i < payload.data.length; i++) {
                        let range = this.quill.getSelection();
                        if (range) {
                            this.quill.clipboard.dangerouslyPasteHTML(range.index, '<img src="' + payload.data[i] + '"/><br/></br>');
                        }
                    }
                }
            });
        },
        mounted() {
            this.initialize();
        },
        beforeDestroy() {
            this.quill = null;
        },
        methods: {
            initialize() {
                if (this.$el) {
                    // Options and instance
                    let self = this;
                    self.options.theme = self.options.theme || 'snow';
                    self.options.boundary = self.options.boundary || document.body;
                    self.options.modules = self.options.modules || self.defaultModules;
                    self.options.modules.toolbar = self.options.modules.toolbar || self.defaultModules.toolbar;
                    self.options.placeholder = self.options.placeholder || 'Insert text here ...';
                    self.options.readOnly = self.options.readOnly !== undefined ? self.options.readOnly : false;
                    self.options.modules.toolbar = self.options.modules.toolbar || defaultOptions.modules.toolbar;
                    self.quill = new Quill(self.$refs.editor, self.options);

                    // Set editor content
                    if (self.value || self.content) {
                        self.quill.pasteHTML(self.value || self.content)
                    }

                    // Mark model as touched if editor lost focus
                    self.quill.on('selection-change', (range) => {
                        if (!range) {
                            self.$emit('blur', self.quill);
                        } else {
                            self.$emit('focus', self.quill);
                        }
                    });

                    self.quill.getModule('toolbar').addHandler('image', function () {
                    });
                    document.querySelector('.ql-image').addEventListener('click', function () {
                        eventBus.mediaModalShowed(0); // Mode 0 - Insert media to editor
                    });

                    // Update model if text changes
                    self.quill.on('text-change', (delta, oldDelta, source) => {
                        let html = self.$refs.editor.children[0].innerHTML;
                        const text = self.quill.getText();
                        if (html === '<p><br></p>') html = '';
                        self._content = html;
                        self.$emit('input', self._content);
                        self.$emit('change', {
                            editor: self.quill,
                            html: html,
                            text: text
                        });

                        // Convert img links to actual images
                        self.quill.clipboard.addMatcher(Node.TEXT_NODE, function (node, delta) {
                            let regex = /(..\/data\/[^\s]+)|(https?:\/\/[^\s]+)/g; // Custom URL link to user's media (../data/...)
                            if (typeof(node.data) !== 'string') return;
                            let matches = node.data.match(regex);

                            if (matches && matches.length > 0) {
                                let ops = [];
                                let str = node.data;

                                matches.forEach(function (match) {
                                    let split = str.split(match);
                                    if (match.match(/\.(png|jpg|jpeg|gif)$/) != null) {
                                        let beforeLink = split.shift();
                                        ops.push({insert: beforeLink});
                                        ops.push({
                                            insert: {image: match}, attributes: {link: match}
                                        });

                                        str = split.join(match);
                                    } else { // If link is not an image
                                        let beforeLink = split.shift();
                                        ops.push({insert: beforeLink});
                                        ops.push({
                                            insert: match, attributes: {link: match}
                                        });
                                        str = split.join(match);
                                    }
                                });
                                ops.push({insert: str});
                                delta.ops = ops;
                            }
                            return delta;
                        });
                    });

                    self.$emit('ready', self.quill);
                }
            }
        },
        watch: {
            'content'(newVal, oldVal) {
                if (this.quill) {
                    if (!!newVal && newVal !== this._content) {
                        this._content = newVal;
                        this.quill.pasteHTML(newVal);
                    } else if (!newVal) {
                        this.quill.setText('');
                    }
                }
            },
            'value'(newVal, oldVal) {
                if (this.quill) {
                    if (newVal !== this._content) {
                        this._content = newVal;
                        this.quill.pasteHTML(newVal);
                    } else if (!newVal) {
                        this.quill.setText('');
                    }
                }
            }
        }
    }
</script>

<style>
    .ql-container.ql-snow .ql-editor {
        font-family: 'Segoe UI', 'Helvetica', Arial, sans-serif;
        font-size: 15px;
    }

    /*CUSTOM*/
    .ql-container.ql-snow .quill-editor img {
        max-width: 95%;
    }

    .ql-container.ql-snow .ql-editor p,
    .ql-container.ql-snow .ql-editor ul li,
    .ql-container.ql-snow .ql-editor ol li {
        font-size: 19px;
        line-height: 1.55;
        margin: 30px 0;
        font-family: 'Noto Serif', 'Times New Roman', serif;
        font-weight: 400;
        word-spacing: 0.004em;
        letter-spacing: -0.003em;
        color: rgba(0, 0, 0, .8);
    }

    .ql-container.ql-snow .ql-editor ul li,
    .ql-container.ql-snow .ql-editor ol li {
        line-height: 0.3em;
    }

    .ql-container.ql-snow .ql-editor p a {
        text-decoration: underline;
    }

    .ql-container.ql-snow .ql-editor p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .ql-container.ql-snow .ql-editor h1,
    .ql-container.ql-snow .ql-editor h2,
    .ql-container.ql-snow .ql-editor h3,
    .ql-container.ql-snow .ql-editor h4,
    .ql-container.ql-snow .ql-editor h5,
    .ql-container.ql-snow .ql-editor h6 {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    .ql-container.ql-snow .ql-editor h1 {
        font-size: 36px;
        margin-top: 20px;
    }

    .ql-container.ql-snow .ql-editor h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .ql-container.ql-snow .ql-editor h3 {
        font-size: 24px;
        margin-top: 20px;
    }

    .ql-container.ql-snow .ql-editor h4 {
        font-size: 18px;
        margin-top: 10px;
    }

    .ql-container.ql-snow .ql-editor h5 {
        font-size: 14px;
        margin-top: 10px;
    }

    .ql-container.ql-snow .ql-editor h6 {
        font-size: 12px;
        margin-top: 10px;
    }

    .ql-container.ql-snow .ql-editor blockquote {
        font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: rgba(0, 0, 0, 0.5);
        font-style: italic;
        font-size: 19px;

        line-height: 1.65em;
        padding: 10px 20px;
        margin: 0 0 20px;
        border-left: 5px solid #eee;
    }

    .ql-container.ql-snow .ql-editor pre {
        padding: 0.5em;
        margin: 0 0 10px;
        font-size: 13px;
        border: 1px solid #ccc;
        color: #abb2bf;
        line-height: 1.42857143em;
        border-radius: 4px;
        background-color: #282c34;
    }
</style>
